[2015-08-26 15:20] rockneverdies55 opened #1 "Microphone button doesn't work in mobile"
Microphone button (one of the coolest things in rocket.chat besides other many) to record audio next to chat text box doesn't seem to be functioning in mobile version (on android in my case).

[2015-08-26 16:16] rockneverdies55 opened #2 "Pulling in main project as dependancy"
to continue the discussion from RocketChat/Rocket.Chat#587 ...

[2015-08-26 17:02] Sing-Li commented on #2
@rockneverdies55  - thanks for moving the thread  :smile:

My preference is not to add any more complexity to our build toolchain.

The Meteor build toolchain is already incredibly complex (when things go wrong, or toolchain dependencies break, hell breaks lose in the Meteor forums); and in this particular project, there is also the addition of the incredibly complex Cordova build toolchain(S - mo

[2015-09-04 04:36] Sing-Li opened #3 "Splice in Crosswalk Webview to support older Android 4.x devices"
https://crosswalk-project.org/

Definitive source of info:

https://github.com/crosswalk-project/cordova-plugin-crosswalk-webview

[2015-09-04 06:04] geekgonecrazy commented on #3
:+1:

[2015-09-04 06:21] Sing-Li commented on #3
Looks like MDG has beaten us to it ....

https://github.com/meteor/meteor/commit/5bd971a1727ec437e64b8454a5ca43ffad780d82

... so in 1.2 - it will be `meteor add crosswalk`

[2015-09-11 00:22] geekgonecrazy opened #4 "Add Push Notification support for multiservers"

[2015-09-12 23:12] Sing-Li opened #6 "fix oauth"
currently oauth does not work because it starts an external browser session and never comes back into the webview

[2015-09-12 23:13] Sing-Li opened #7 "add camera / phone-gallery support"
support taking a picture and/or select a photo from gallery for upload

[2015-09-14 15:25] #3 closed

[2015-09-15 17:52] mathias-baumann-sociomantic opened #8 "Required Android Version in App Store"
Assuming this repo is what [this app](https://play.google.com/store/apps/details?id=com.konecty.rocket.chat) is built from, is the dependency on android 4.4 absolutely required? I personally use Android 4.2 and one of my team also has an older version (not sure which exactly).

I suggest to keep the value for the required android version as low as possible.

[2015-09-15 17:55] Sing-Li commented on #8
Thanks. Please check the wiki for a version that will work with all versions back to 4.0.x!

[2015-09-15 18:01] mathias-baumann-sociomantic commented on #8
Ah okay, that would be https://github.com/RocketChat/Rocket.Chat/wiki/Build-the-Android-Cordova-Web-App-and-connect-to-your-own-Rocket.Chat-Server for anyone else who finds this ticket

[2015-09-15 18:03] Sing-Li commented on #8
With Meteor 1.2 (any week now) the problem will go away with Google Play version too.  Thanks.

[2015-09-15 18:03] #8 closed

[2015-09-20 00:43] mitar opened #9 "Provide release files on GitHub"
So Android app was released and is available on the Play, but it is not attached here to the releases. It would be great if it would be possible to get the apk file directly.

[2015-09-21 15:20] lleal opened #10 "Does the microphone and the camera work on Android?"
Been trying and they don't work.

[2015-09-21 15:49] Sing-Li commented on #10
No ... please see #1 and #7   ... closing this ticket.  Duplicate.

[2015-09-21 15:49] #10 closed

[2015-10-01 16:42] tkizm1 commented on #9
agree

[2015-10-01 18:20] geekgonecrazy commented on #9
@mitar once we publish from this branch that will be the case.  :)

Currently its being published from the main repo.  That will change once we get things  functioning here.

[2015-10-01 18:21] mitar commented on #9
OK, but things are not available here either: https://github.com/RocketChat/Rocket.Chat/releases

[2015-10-19 15:48] maxlinux2000 opened #11 "question: push notifications in cordova with plugin?"
Rocket.chat.cordova don't support push notifications... this occur because it's impossible or there is a way using this plugin below?
https://github.com/phonegap/phonegap-plugin-push

regards
MaX

[2015-10-19 17:17] geekgonecrazy commented on #11
Its for sure possible.  With the current meteor package here we are limited because it handles all of the registration id stuff on the client side.  So we need an end point or something that from the client we can send the users registration id from the push notification service to the rocket.chat instance. So that when it tells GCM about the notification it knows which user / device to deliver to

[2015-11-13 10:55] rodrigok opened #12 "Beta Release"
#### Beta 1
- [x] Save current selected server and load selected server on app load
- [x] Use ionic keyboard plugin to resize the iframe on keyboard show/hide
- [x] Allow delete servers
- [x] Loading screen when downloading server files
- [x] Loading screen when opening a server
- [x] Splash screens
- [x] Icons
- [x] Some indication how to open the servers list

#### Beta 2
- [x] Delete server fol

[2015-11-13 15:18] rockneverdies55 commented on #12
Great job @rodrigok. You're awesome. :-)

[2015-11-13 17:01] graywolf336 commented on #12
Just tried to run this on my phone and I wasn't able to.

Here I tried with no server: https://drive.google.com/file/d/0Bzr2T-rWGn_5amxtY2NVcWRLZ2M/view?usp=sharing
Here I tried with a custom server instance: https://drive.google.com/file/d/0Bzr2T-rWGn_5QVhCdThFYVNtRzA/view?usp=sharing

Is there anything I can help you with?

[2015-11-13 17:17] graywolf336 commented on #12
Looked into it and upon adding a server I get the following error:

`servers.js:179 Uncaught TypeError: Cannot read property 'manifest' of undefined`
![2015-11-13_11-16-50](https://cloud.githubusercontent.com/assets/850391/11152436/0fbc8018-89f8-11e5-83a8-f0c5c6a6da7b.png)

[2015-11-13 20:32] graywolf336 commented on #12
Just now tried it again after reinstalling the application, works for demo but does not work for my custom server. Does the server need to be updated? @rodrigok

[2015-11-13 23:19] graywolf336 commented on #12
22708d82078f11d4003445d101a48d843ea8bac7 added some error handling which should help with anyone who is trying to get this going on their device as well. The error messages are hard coded at the moment, that's something we will need to do.

[2015-11-15 13:25] rodrigok commented on #12
@graywolf336, servers must have the ios or android platform added.

Without mobile platform activated, meteor don't generate files for mobile, like the manifest.json and the index.html pointing to meteor.local.

[2015-11-15 20:46] geekgonecrazy commented on #12
can we not replicate this?  Seems like something we wouldn't want to force them to do. Having to manually run meteor add to get access to the mobile apps seems like it shouldn't be needed from a deployment standpoint.

[2015-11-15 22:32] rodrigok commented on #12
@geekgonecrazy we should add the ios platform in our builds.

[2015-11-15 22:34] geekgonecrazy commented on #12
@rodrigok so we just have to add at least one platform?  I guess as long as its not installing the sdk stuff it won't add much bulk

[2015-11-15 22:40] rodrigok commented on #12
@geekgonecrazy exactly, we just need to add the platform to tell to Meteor to generate all files that cordova will consume, this will not generate mobile apps or install sdk.

[2015-11-19 12:47] miscs opened #14 "Beta: URL Window overlaps User/PW Window"
Samsung Galaxy S6 Edge, Android 5.1.1

Clean install. At the first lauch I misspelled the URL of my server. After I corrected the URL I was forwarded to the User/PW screen. But when I enter text into the user / PW field and the keyboard pops up it "pushes" the URL Dialog over the User / PW screen. So I can´t see what I am typing.... (but it still works, so I can logIn after blind input of User / P

[2015-11-19 12:49] miscs opened #15 "Sidebar goes over button bar"
Samsung Galaxy S6 Edge, Android 5.1.1

Just a blank grey column....

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28396974-sidebar-goes-over-button-bar?utm_campaign=plugin&utm_content=tracker%2F21834450&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm

[2015-11-19 15:36] graywolf336 commented on #14
Can you attach a screenshot? As this isn't the first time I've heard of this but I haven't experienced it myself.

[2015-11-19 15:37] graywolf336 commented on #15
Was you connected to the demo server or your own?

[2015-11-19 16:14] miscs commented on #15
I was connected with my own server but pulled fresh docker image just this morning...

[2015-11-19 16:17] Sing-Li commented on #15
Which 'docker image' ?

[2015-11-19 16:20] miscs commented on #14
this happens with my own server as well as with rocket demo server

focus is still on the underlying user / pw fields so its possible to log in....
![login](https://cloud.githubusercontent.com/assets/878463/11276278/c75dc11c-8ee1-11e5-88a3-cea5d3cd6795.png)

[2015-11-19 16:22] miscs commented on #15
Digest: sha256:20a1f91ce1a1affe0614c013613d1679a96a21cbb85c0f457707672d6ae663ed
Status: Image is up to date for rocketchat/rocket.chat:latest

[2015-11-19 16:25] graywolf336 commented on #15
I don't know much about the Docker images, but I wonder if they're running with the meteor arguments `--mobile-server http://<serverip:port>` as that's required for the phone to connect and communicate successfully.

[2015-11-19 16:29] miscs commented on #15
the app works quite ok (sending / receiving messages). so i think it´s enabled....
I can also see the side menu as long as the channel loads. but when it´s loaded the icons disappear.

[2015-11-19 21:25] rodrigok commented on #11
Push notifications works in the old app.

The current app (in Beta right now) supports Push Notification too.

[2015-11-19 21:25] #11 closed

[2015-11-19 21:26] rodrigok commented on #6
Fixed!

[2015-11-19 21:26] #6 closed

[2015-11-19 21:27] rodrigok commented on #4
Done, we need to think how to share our certificates with public servers

[2015-11-19 21:27] #4 closed

[2015-11-19 21:28] #2 closed

[2015-11-19 21:29] rodrigok opened #16 "Beta: Keyboard doesn't hide inside the iframe"

[2015-11-19 21:29] rodrigok opened #17 "Init i18n and translate to PT"

[2015-11-19 21:30] rodrigok opened #18 "Beta: Icon with wrong resolution for notifications (Apple Watch)"

[2015-11-19 21:30] #12 closed

[2015-11-19 21:56] rodrigok commented on #14
This issue was solved. Please update your app and try again.

[2015-11-19 21:56] #14 closed

[2015-11-19 22:16] rodrigok commented on #9
https://github.com/RocketChat/Rocket.Chat.Cordova/releases/tag/2.0.0.beta.4

[2015-11-19 22:16] #9 closed

[2015-11-19 22:27] graywolf336 commented on #1
@rockneverdies55 can you confirm this is still an issue? I was able to test it out and it appears to be working.

[2015-11-19 22:33] graywolf336 commented on #15
I can confirm. It appears there when the channel is loading, but that's it. They do reappear though when your phone's screen resizes, such as going from portrait to landscape.

[2015-11-19 22:46] rockneverdies55 commented on #1
It still doesn't work. When I press on it, button icon takes square shape till I touch again where it goes back to microphone icon. But other than changing the icon displayed it doesn't seem to be doing anything else.

I tested it on my nexus 5.

[2015-11-20 08:32] miscs commented on #15
with the new beta I first thought this is fixed because the menu showed up at first channel view. but after swichting between some channels the menu is gone again.
as @graywolf336 mentioned phone resize brings the menu back

[2015-11-20 08:35] miscs commented on #14
works. thanks!

[2015-11-20 08:37] miscs opened #19 "Blue screen when server unavailable"
If the rocket server is unavailable the app shows just a blue screen.
You can slide up with two fingers, but if i don´t remember this im stuck. Would it be possible to show an error message in that case?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28446337-blue-screen-when-server-unavailable?utm_campaign=plugin&utm_content=tracke

[2015-11-20 15:51] graywolf336 commented on #19
What do you mean by unavailable?

On Fri, Nov 20, 2015, 2:37 AM miscs notifications@github.com wrote:

[2015-11-20 17:02] miscs commented on #19
different possibilities
- you can access rocket server only in your company intranet -> try it outside your intranet, rocket server not reachable -> blue screen
- rocket server is offline due to maintenance
- ...

I think in all these cases an error message would be nice instead of a blue screen :)

[2015-11-20 17:41] graywolf336 commented on #19
Is this from when you're adding a server or trying to connect to an
existing one from your list? Or starting up the application and it tries to
connect to your previous active server is when it happens?

On Fri, Nov 20, 2015, 11:02 AM miscs notifications@github.com wrote:

[2015-11-20 19:55] miscs commented on #19
the last one. I was connected with the server and starting the app again. in that case the app shows only a blue screen if it can´t connect. you still can swipe up with two fingers but an error message and hint to swipe with two fingers would be useful (not a high priority though)

[2015-11-22 11:34] pschonder commented on #15
I'm facing the same or maybe related problem. redrawing the sidebar-element fixes the problem sometimes. The Problem was there also with the "old" app. I think it's not an cordova-issue and is affecting all mobile-web-views of the app.
![rocket chat-right-sidebar-bug](https://cloud.githubusercontent.com/assets/66947/11323565/3042041a-9115-11e5-81aa-7ee9f80b0568.gif)

[2015-11-22 13:00] Martinspire opened #20 "So can this run on Windows Phone as well? Or perhaps even a universal app?"
So i've been looking into what Rocket Chat can do and having a Cordova solution might be nice. But i'm not sure if this will work properly on a Windows Phone or that we perhaps need to adjust/fix it. Has anybody tried? Are there examples?
I don't see it mentioned in the readme, nor do i see some WP-things in it. Would love to give it a go, but like some info before i waste my time

<bountysource-p

[2015-11-22 14:05] sweetvvck opened #21 "cordova prepare error"
I followed the readme to setup Rocket.Chat.Cordova, but got this:
[code]
I can not find any error definition like that from the project, anyone know what happened?

[2015-11-22 14:09] jinchan-ck commented on #21
This is some of my env version:

[code]

[2015-11-22 16:34] graywolf336 commented on #21
Try to run the other commands and not prepare, see if that works.

On Sun, Nov 22, 2015, 8:09 AM 程科 notifications@github.com wrote:

[2015-11-22 16:35] graywolf336 commented on #20
I don't believe any work has been done with Windows phone. But if anyone
has experience with it and wants to work on it, we would be happy to have
their help.

On Sun, Nov 22, 2015, 7:00 AM Martin Spierings notifications@github.com
wrote:

[2015-11-23 01:38] geekgonecrazy opened #22 "Switching servers doesn't keep sign in"
Seems switching servers doesn't keep you signed in

[2015-11-23 01:59] geekgonecrazy commented on #11
@rodrigok Regarding the new app, I haven't seen this working.  Tried with the demo and direct messaged my self from a new account with no luck.

[2015-11-23 02:01] geekgonecrazy commented on #19
i've not seen this.  Can you check again and make sure this still occurs?  Also make sure the server supports the mobile app.

[2015-11-23 02:41] graywolf336 commented on #11
You installed it from the Play Store right? As push notifications worked
fine for me today

On Sun, Nov 22, 2015, 7:59 PM Aaron Ogle notifications@github.com wrote:

[2015-11-23 02:58] geekgonecrazy commented on #11
Yup play store in the testing group.

[2015-11-23 11:00] GaWr26 commented on #21
same error here. Get it with all the commands..

[2015-11-23 12:24] rodrigok commented on #11
@geekgonecrazy I'm doing a lot of modifications in the app, so probably the push for the old app is broke and for the new app isn't stable yet.

[2015-11-23 14:10] jpmccu commented on #21
I get the same.

[code]

[2015-11-23 14:58] jinchan-ck commented on #21
@graywolf336 `cordova emulate ios` got the same error:

[code]

[2015-11-23 15:17] mitchrosu commented on #21
It seems to be connected with anything ios related. Running 'cordova platform update android' works fine, but running 'cordova platform update ios' returns the error "Error: Parameter 'url' must be a string, not undefined".

[2015-11-23 15:19] graywolf336 commented on #21
Ah okay, so that's why I didn't get the error as I'm on Windows and so I can only do android. I will try and look into this tonight when I get home if someone doesn't beat me to it.

[2015-11-23 16:02] geekgonecrazy commented on #11
@rodrigok sounds good. I'll un-install / re-install see if that changes anything.

[2015-11-23 16:59] mitchrosu commented on #21
I've narrowed it down to the config.xml file. When I remove:

[code]

From line 27 the function loads correctly and doesn't return the error. Any ideas for what could be causing this line to break it? I'm not familiar with cordova so I'm going through the docs now to figure out what's wrong with it, but if you have any ideas let me know.

[2015-11-23 17:06] mitchrosu commented on #21
Okay, straight from the docs:

[code]

So I replaced that line with the bottom 3 lines and it builds just fine without losing the intended functionality. Does this solution work for you or is there anything wrong with it @graywolf336 ?

[2015-11-23 17:10] graywolf336 commented on #21
Sounds good to me. How about this, submit a pull request and then we'll
test it and see if it does change anything. If it works, we'll merge the
pull request and go from there.

On Mon, Nov 23, 2015, 11:07 AM mitchrosu notifications@github.com wrote:

[2015-11-23 17:21] geekgonecrazy commented on #21
:+1: for sure the best route

[2015-11-23 17:23] Martinspire commented on #20
Nobody tried it? Hmm. I could give it a go to see if it works or not

[2015-11-23 17:43] geekgonecrazy commented on #20
I have a windows phone in a drawer.  But its not my daily driver.  That would be cool to see it there as well.

[2015-11-23 20:50] rodrigok opened #24 "Remove iframe"
We need to remove the iframe because there is an issue with iframe and focus in iOS:

- http://openradar.appspot.com/radar?id=2523403
- https://github.com/ftlabs/fastclick/issues/37
- https://github.com/ftlabs/fastclick/pull/305

And there are security issues related with sharing the localStorage of the webview with all servers.

Migration steps:

- [x] Open a new server with a custom domain (modi

[2015-11-24 09:25] flashguy22 opened #25 "Android - Blue + White screen after downloading files"
I installed the app on two devices, Nexus 5 Android 6.0 & Helix Tablet Android 4.4.
Both show only a white screen after logging in to server and downloading files.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28562101-android-blue-white-screen-after-downloading-files?utm_campaign=plugin&utm_content=tracker%2F21834450&utm_medium=is

[2015-11-24 09:36] flashguy22 opened #26 "Need for custom branded iOS build"
This might be a stupid question but I am not a iOS Developer.

How would I approach compiling the iOS App for our company. I have a certificate and made a distribution provisioning profile but of course the App ID etc don't match.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28562343-need-for-custom-branded-ios-build?utm_campaign=

[2015-11-24 09:45] GaWr26 commented on #25
I just tired again and after logging in to the demo server first, login to our server also works.

[2015-11-24 21:35] tholu opened #27 "iOS Emulator: cannot enter password"
Just started the current version with ``cordova emulate ios`` in the iOS Emulator, but after entering the server address, and the email address, I cannot enter the password. Neither software keyboard nor native keyboard works.

Update: After trying again, it worked.

[2015-11-24 21:35] #27 closed

[2015-11-24 21:38] tholu commented on #26
+1 for a short customization/distribution guide, since the current native iOS app does not support multiple servers as far as I can see.

[2015-11-25 10:29] #24 closed

[2015-11-25 10:35] rodrigok commented on #26
@flashguy22 and @tholu we are in beta testing of the new app that supports multiple servers, do you still need this?

[2015-11-25 10:38] tholu commented on #26
@rodrigok I still can see the appeal of releasing an already customized/branded app (e.g. for the own company) with a custom preset server. However I also understand if you don't want to support that officially.

[2015-11-25 11:14] rodrigok commented on #21
Closed via #23

[2015-11-25 11:14] #21 closed

[2015-11-25 11:16] rodrigok commented on #25
@flashguy22 can you test with the new version (Beta 5 https://github.com/RocketChat/Rocket.Chat.Cordova/releases/tag/2.0.0.beta.5)?

This version was released right now and will be available in the App Stores in a few minutes.

[2015-11-25 11:17] rodrigok commented on #22
Hey @geekgonecrazy, can you test now with the new Beta 5 release?

[2015-11-25 11:22] rodrigok commented on #16
Closed via the new release Beta 5

[2015-11-25 11:22] #16 closed

[2015-11-25 11:26] rodrigok commented on #26
@tholu we don't have problems with this, but now we are only in the beta releases, this is not ready for production yet and we are dedicating our time to finish the project ASAP.

If someone wants helps us creating this tutorial we can add into our README or our Wiki page.

:smile:

[2015-11-25 11:37] tholu commented on #26
@rodrigok Getting the project out of beta has of course priority. What's the current stance on the native iOS app, will it be deprecated or will both the native iOS-App and the multiplatform-Cordova coexist and be further developed?

[2015-11-25 12:02] rodrigok commented on #26
As the Cordova project can share almost all the code from our web app and is all JS, HTML and CSS is much more easy for us to develop and maintain with all features.

We don't have developers that knows Java or ObjectiveC/Swift to help or lead the native projects, so these projects are been leaded and developed by the community.

Of course we prefer the native apps, but for now the hybrid app is w

[2015-11-25 17:14] rodrigok opened #29 "Enable WebRTC"

[2015-11-25 17:14] rodrigok commented on #29
Closed via https://github.com/RocketChat/Rocket.Chat.Cordova/commit/b39c5991f70d623c9681c6e91ec70ec71a458733

[2015-11-25 17:14] #29 closed

[2015-11-25 17:27] pdehaye commented on #26
Hi, I just tried the RocketChat beta iOS app, and it doesn't work with my own install of RocketChat via Sandstorm. If I try using the Sandstorm webkey, I get a "The address provided is not a Rocket.Chat server" error.

Since @engelgabriel 's name is listed as maintainer of the RocketChat Sandstorm app, and since he sent me the beta invite, I guess he should be mentioned here  :P

[2015-11-25 17:32] rodrigok commented on #26
@pdehaye good question, I will open a specific issue for this point.

[2015-11-25 17:33] rodrigok opened #30 "Sandstorm.io compatibility"
As mentioned here https://github.com/RocketChat/Rocket.Chat.Cordova/issues/26#issuecomment-159681223 we need to test and fix problems with Sandstorm.io connection.

[2015-11-25 17:34] engelgabriel commented on #26
Probably relates to https://github.com/RocketChat/Rocket.Chat/issues/1352

[2015-11-25 17:37] engelgabriel commented on #26
@pdehaye Can you check if the `X-Rocket-Chat-Version` is preset or have been removed from the grain response? Are you using the app from the App Market or from https://s3.amazonaws.com/rocketchatbuild/rocket.chat.latest.spk ?

[2015-11-25 17:44] pdehaye commented on #26
I am using the app via the beta invite you sent me 3h40 ago, which I am running on my iPhone via Testflight. I don't know how to check the grain response.

[2015-11-25 17:44] engelgabriel commented on #26
How did you install the grain?

[2015-11-25 18:04] pdehaye commented on #26
I was trying the app from the App Market, but (finally) got your hint and installed the latest build. With that app I can't start a grain, I get this in the app's log:

[code]

This could happen because I am using a "productive" install of sandstorm and not a dev one?

[2015-11-25 19:21] marceloschmidt commented on #15
Fixed in https://github.com/RocketChat/Rocket.Chat/commit/df525d6d5bf90578b754be6f891234dbe7a452a2

[2015-11-25 22:14] engelgabriel commented on #26
I've just opend an issue https://github.com/RocketChat/Rocket.Chat/issues/1496

[2015-11-26 07:14] paulproteus commented on #26
BTW, I believe Sandstorm will eat the `X-Rocket-Chat-Version` header at the moment. There's work going on to let Sandstorm support headers of the form `X-Sandstorm-App-*` which could be used for this, but that's not quite ready yet.

[2015-11-26 07:15] paulproteus commented on #26
Sort-of apologies that Sandstorm is a bit weird in that regard; but I at least wanted to make sure to mention that here.

[2015-11-26 09:39] Sing-Li commented on #26
@paulproteus ....thanks for the explanation!

[2015-11-26 09:42] pdehaye commented on #26
The original question did not mention sandstorm, although it could offer a solution. Also, there is a typo in the tag.

[2015-11-26 14:16] tholu commented on #26
When is the release of the current version (supporting own servers) planned? Would be great to have this a soon as possible.

[2015-11-26 14:24] engelgabriel commented on #26
It will be as soon as possible, probably this week.

[2015-11-26 14:36] tholu commented on #26
@engelgabriel Great!

[2015-11-26 22:40] rodrigok opened #31 "Improve dialogs"

[2015-11-26 22:40] #31 closed

[2015-11-26 22:41] rodrigok opened #32 "Use /api/info instead header to validate the server"

[2015-11-26 22:41] #32 closed

[2015-11-26 22:55] #18 closed

[2015-11-27 18:04] #17 closed

[2015-11-28 16:50] geekgonecrazy opened #34 "URL configured is not the same as configured"
This started happening right after the newest beta.

![screenshot_20151128-104622](https://cloud.githubusercontent.com/assets/51996/11452933/ad8a563c-95bd-11e5-97d5-b4b267306397.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28677418-url-configured-is-not-the-same-as-configured?utm_campaign=plugin&utm_content=tracker%2F21834450

[2015-11-28 16:52] geekgonecrazy opened #35 "Two finger swipe not working"
Two finger swipe seems to not be working any more.  It seemed to stop working the last beta and also still this one

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28677448-two-finger-swipe-not-working?utm_campaign=plugin&utm_content=tracker%2F21834450&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https

[2015-11-28 19:06] graywolf336 opened #36 "File Uploads Not Working [$10]"
Can't upload a file from the device, no errors displayed or anything.

<bountysource-plugin>
---
There is a **[$10 open bounty](https://www.bountysource.com/issues/28679255-file-uploads-not-working?utm_campaign=plugin&utm_content=tracker%2F21834450&utm_medium=issues&utm_source=github)** on this issue. Add to the bounty at [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content

[2015-11-28 19:35] geekgonecrazy opened #37 "Links not opening"
Nothing happens when clicking links

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28679626-links-not-opening?utm_campaign=plugin&utm_content=tracker%2F21834450&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F21834450&utm_medium=issu

[2015-11-29 22:30] Morgul opened #38 "Push Notifications not working"
I'm attempting to get push notifications working, and after figuring out what seems to be a correct setup, I still don't get push notifications. Checking the console when the cordova client connects, I see this in the logs:

[code]

For posterity, here is my configuration:

![image](https://cloud.githubusercontent.com/assets/770655/11460663/4adea8ea-96b6-11e5-998a-52037f2e1944.png)

Is this a prob

[2015-11-29 23:24] pschonder commented on #38
I got issues with push notification under iOS. When i have a look into mongo there is an token for my device in the collection "_raix_push_app_tokens", but no "userId" is assigned to it. It's null. It seems, there is no update to the device-token after login.

Possibly https://github.com/RocketChat/Rocket.Chat/commit/bf0008f820d7111906a738dcf14aa4b1fe27b37c broke it.

@morgul:
Have you tried addin

[2015-11-30 00:43] Morgul commented on #38
@pschonder I'm not building the Cordova app myself, I'm using the beta published on the Android Store. I strongly support a single application that can connect to any instance of Rocket.Chat, and as such have avoided building the app myself.

[2015-11-30 16:14] sampaiodiego commented on #35
It's working on "connection screen", but not after connect to a server. in android btw

[2015-11-30 16:20] sampaiodiego opened #39 "Server compatibility check throwing an error"
The server compatibility check should test if the request response is a valid javascript before parsing it to avoid this kind of error:

`Syntax Error: Unexpected token <`

![image](https://cloud.githubusercontent.com/assets/8591547/11477137/b763ae72-976d-11e5-8cf2-943b037b7d4d.png)

[2015-11-30 17:14] graywolf336 commented on #37
Can confirm, on Android

[2015-11-30 17:15] graywolf336 commented on #34
Can confirm, on Android as well

[2015-12-01 05:57] geekgonecrazy commented on #35
@sampaiodiego I've had once or twice it not work on connection screen.  But mainly once connected

[2015-12-01 05:58] geekgonecrazy commented on #22
This looks to be fixed

[2015-12-01 05:58] #22 closed

[2015-12-01 10:08] pdehaye commented on #30
I just tested with Cordova Beta 8 version 14487156..., and a fresh install of a Sandstorm grain (announced version 0.6, in any case after RocketChat/Rocket.Chat/#1526 was fixed). It still does not work, but I am not entirely sure I understood the process. I generated a webkey from the grain, and pasted that into my Cordova testing iPhone app. I get the error

[code]

@paulproteus ' comments on #26

[2015-12-02 15:15] tholu commented on #26
How to get iOS Beta access? Really looking forward to try the iOS App with our own deployment.

[2015-12-02 15:33] rodrigok commented on #26
@tholu you can send your apple id (email) to support@rocket.chat and we will add you to our test flight.

The new app version was submitted to apple review yesterday, will be available in 5 or 6 days we believe.

[2015-12-02 16:02] pschonder commented on #38
@rodrigok have you seen my comment?

[2015-12-02 16:24] rodrigok commented on #38
@Morgul we will investigate that.

@pschonder are you trying with iOS or Android?

[2015-12-02 16:24] #39 closed

[2015-12-02 16:26] rodrigok commented on #37
@geekgonecrazy @graywolf336 still happening?

[2015-12-02 16:28] rodrigok commented on #36
@graywolf336 still happening? iOS or Android?

[2015-12-02 16:30] rodrigok commented on #34
@geekgonecrazy @graywolf336 are you accessing the demo server? And exactly which address you informed?

[2015-12-02 17:10] pschonder commented on #38
@rodrigok I'm using a self built iOS app with my own server. The iOS-App is built with my own Provisioning-Profile and my own Certificate added to the Server Push Settings for APN. If I update the collection-entry in  "_raix_push_app_tokens" and change the field userId from "null" to my userId the Push-Notification is delivered to my device. It seems there's something broken when updating the regi

[2015-12-02 17:53] pschonder commented on #38
After some further investigation i noticed some strange behavior:

After the App is synced with the server the Client-Token is saved in the collection:

[code]

When i finish the login the Client-Token is not updated. I stopped the App with x-code and startet it again:

[code]

The token is updated now. This is not the right behavior in my opinion.

[2015-12-02 18:19] marceloschmidt commented on #15
We had to revert this issue and solve it via CSS. Please @rcaferati take a look.

[2015-12-02 19:24] graywolf336 commented on #34
@rodrigok After clearing my data and removing the servers, it is no longer happening.

[2015-12-02 19:24] graywolf336 commented on #37
@rodrigok Yes

[2015-12-02 19:25] graywolf336 commented on #36
@rodrigok Yes, on Android.

[2015-12-02 20:33] rodrigok commented on #36
JFYI Is working on iOS

[2015-12-02 20:34] rodrigok commented on #37
JFYI Is working in iOS

[2015-12-02 20:34] rodrigok commented on #34
@graywolf336 good, please reopen this issue if you find the problem again

[2015-12-02 20:39] geekgonecrazy commented on #34
Seemed with the latest this went away.  I had cleared data multiple times prior.  So this update must have fixed

[2015-12-02 21:50] pschonder commented on #38
and there is another strange behavior:
The badge "1" at the app icon is not cleared when all messages were read.

[2015-12-02 23:53] geekgonecrazy commented on #30
Does #32 solve this?

[2015-12-03 00:04] pdehaye commented on #30
I don't think so, #32 led to beta 6.

[2015-12-03 00:37] geekgonecrazy commented on #30
@pdehaye right, so that fixed part of the issue.  I'll give this a try and see what I come up with.

[2015-12-03 19:57] sampaiodiego opened #41 ""loading undefined" when connecting to a new server"
When you connect a server for the first time you got the message: "loading undefined", as shown below:

![image](https://cloud.githubusercontent.com/assets/8591547/11572211/3f9e24ea-99e7-11e5-8350-921266520f51.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28829570-loading-undefined-when-connecting-to-a-new-server?utm_campaign=

[2015-12-03 19:58] rockneverdies55 commented on #41
Confirming the issue.

[2015-12-03 20:02] graywolf336 commented on #41
Confirming it as well.

On Thu, Dec 3, 2015, 1:58 PM rockneverdies55 notifications@github.com
wrote:

[2015-12-03 20:03] graywolf336 commented on #34
Reopening as the issue has came back up. Seems that when you add a server the first time it works good, but then after quitting the application and the previous server loads the message displays. Android

[2015-12-03 20:10] sampaiodiego opened #42 "App/Rocket.Chat language"
When using the android app, rocket.chat is always in English, even if the chosen language is a different one.

the app language (server list, loading messages, etc) is using the system language correctly.

![image](https://cloud.githubusercontent.com/assets/8591547/11572513/df21c534-99e8-11e5-80f6-1f0e62999d01.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https:

[2015-12-03 23:31] geekgonecrazy commented on #41
Yeah I noticed this as well.  You beat me to posting this.

[2015-12-03 23:32] geekgonecrazy commented on #42
So this needs to some how trigger it to redownload right?

[2015-12-04 00:06] sampaiodiego commented on #42
I really don't know what is the problem here =\

[2015-12-06 04:40] hansaliyad1 opened #44 "Error: Cannot find module 'bplist-parser'"
Cordova prepare throws an error. Don't know what is wrong. Any help would me appreciated. Thanks
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28888777-error-cannot-find-module-bplist-parser?utm_campaign=plugin&utm_content=tracker%2F21834450&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https:/

[2015-12-06 14:29] pschonder commented on #38
@rodrigok is there any progress on this issue. Can you confirm the problems?

[2015-12-07 12:44] rodrigok commented on #38
Yes, I did some changes 2 days ago, I need to do a new test.

@pschonder, can you test these changes too?

[2015-12-07 15:05] pschonder commented on #38
@rodrigok seems to be working now. The Badge with "1" is still there, even when all messages are read or when there are more than one unread message.

[2015-12-07 16:42] rodrigok commented on #38
Ok, I will take a look, thanks

[2015-12-07 16:56] rodrigok commented on #38
@pschonder was fixed in our server code on branch develop.

[2015-12-07 16:56] #38 closed

[2015-12-07 20:00] geekgonecrazy opened #45 "Can't add second server"
* I connected to the https://demo.rocket.chat instance first.
* I do the two finger swipe and add mine.
* It acts like it takes it but then takes me back to the add screen with no error. (Also two finger swipe doesn't work here)
* I enter it again, and it clears it and connects to https://demo.rocket.chat instance again.

Adding mine first worked.  But then I had to click connect 3 times to get de

[2015-12-07 20:01] graywolf336 commented on #45
Can confirm, just tried it myself.

On Mon, Dec 7, 2015, 2:00 PM Aaron Ogle notifications@github.com wrote:

[2015-12-07 20:05] geekgonecrazy commented on #34
It has a pretty error message now.  :+1:  but still here on newest Android

[2015-12-07 20:07] geekgonecrazy opened #46 "Can't switch servers from server list"
Both servers show up.  Clicking on one does nothing.  If I kill and then restart it switches to the server I selected.

So its saving it, just not changing.

Android App version 2.1.0

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28927636-can-t-switch-servers-from-server-list?utm_campaign=plugin&utm_content=tracker%2F21834450&utm_m

[2015-12-07 20:07] graywolf336 commented on #35
Seems to be fixed when on a server..but when you are on the server add view, you can't two finger swipe up.

[2015-12-07 20:08] graywolf336 commented on #46
Can confirm as well.

[2015-12-07 20:09] graywolf336 opened #47 "Add Server Name to Push Notifications"
Add the name of the server where the push notification is from on the notification, this will be extremely useful when you have several instances you're connected to and people have the same usernames.

[2015-12-07 20:14] geekgonecrazy commented on #47
:+1:

[2015-12-07 21:04] rodrigok commented on #34
@geekgonecrazy are you sure the url is correct? The same protocol?

[2015-12-07 22:05] geekgonecrazy commented on #34
@rodrigok absolutely. I just put exactly: `https://demo.rocket.chat` It may not do it in your development version only in release?  Not sure.  It doesn't seem to do it right away.  Mainly on closing out completely then coming back and pulling from localstorage maybe?

[2015-12-08 12:12] Tharnas opened #48 "Cannot login with application"
Hi,

I download the latest Rocket.Chat app from play store and provide my own server url (https://mydomain.com:8080). Afterwards I want to login but it stucks saying "PLEASE WAIT...." in the login button.

My environment:
Server is running with the latest docker image.
I connect with HTTPS and port 8080 through an reverse proxy.
For login ldap is used.

Things I already tried:
Use local IP address

[2015-12-08 17:04] sampaiodiego commented on #48
do you have the latest verions of server and mobile apps?
@geekgonecrazy had this problem but its now fixed.

[2015-12-08 17:08] sampaiodiego opened #49 "QR-Code to connect to an instance"
On the page we could a have qr-code that mobile clents could read and connect to that server.

Something like that:

![image](https://cloud.githubusercontent.com/assets/8591547/11662396/8dc358f0-9dbd-11e5-8680-b3dcf0fff4e0.png)

[2015-12-08 17:30] Tharnas commented on #48
Pulled again the latest version from docker and now its working.

Thanks you!

[2015-12-08 17:33] sampaiodiego commented on #48
You're welcome! :smile:

[2015-12-08 17:33] #48 closed

[2015-12-08 18:02] graywolf336 commented on #45
Looking into this, it appears the `deviceready` event never fires after switching to the index page from the server list.

[2015-12-08 20:29] geekgonecrazy commented on #49
:+1: that would be awesome!

[2015-12-09 18:19] jashot7 commented on #41
I confirm getting this exact problem on the iOS app. Before getting this problem, I was getting a 'hang' upon login to our custom server instance - but I can no longer duplicate that. Looking forward to a fix for this as our whole team wants to use the iOS app :)

[2015-12-10 07:15] geekgonecrazy opened #50 "Not updating cached assets when confirming dialog"
![screenshot_20151209-190820](https://cloud.githubusercontent.com/assets/51996/11709213/59b8fe4c-9edb-11e5-90bb-6313e640d201.png)

On Android, this keeps coming up.  I get 3-4 copies of it.

Clearing data works for a while.  After switching servers or it being in the background for a while it seems to do this.

Clicking update sometimes brings to server list and seems to break

<bountysource-plugi

[2015-12-10 17:46] jashot7 commented on #41
We updated our server and deleted and reinstalled the iOS apps. We still get the undefined message, but now the app takes us to the login screen appropriately. Everything is working for us. Awesome.

[2015-12-11 15:39] soenkef commented on #42
+1 - language Not selectable

![screenshot_2015-12-11-16-37-48](https://cloud.githubusercontent.com/assets/16257281/11747840/af2ba4e2-a025-11e5-9044-7a1ad04690ca.png)

[2015-12-11 15:41] soenkef commented on #36
+1 File upload doesn't work in Android 4.4.4 and >5. The website file-upload runs.

[2015-12-11 17:39] kreuzebek commented on #36
+1. File upload doesn't work ->  Android 4.0.3

[2015-12-12 11:28] rodrigok commented on #47
I agree, but this will be truth to who has only one instance too, cuz we need to do this at the server side.

[2015-12-12 11:29] rodrigok commented on #44
@hansaliyad1 try to execute a `npm install` before the `cordova prepare`

[2015-12-12 11:32] rodrigok commented on #41
Sorry guys, this is a render issue, not a big problem, was solved on Android, will be solved for iOS on the next update.

[2015-12-12 11:32] #41 closed

[2015-12-12 13:18] rodrigok commented on #34
@geekgonecrazy is this still occurs with the latest version of server and app?

[2015-12-14 19:43] rodrigok commented on #42
This is a Server Side issue and was solved by https://github.com/RocketChat/Rocket.Chat/commit/b2f18455cc6d761da4f088853ab793bddea3c508

[2015-12-14 19:43] #42 closed

[2015-12-15 18:33] bkkilaru opened #51 "Speed issues on startup and load"
Our team has been enjoying using the RocketChat mobile apps, but we encounter two major issues on a regular basis as active users:

1. When starting the app, we often get stuck on the blue screen and just get frozen there. This happens unpredictably, but consistently across users. I'm sure it's because of the hybrid app needing to load the page, but is there any fix for this?

2. Especially on And

[2015-12-17 12:21] marceloschmidt commented on #45
+1 here! Tried using two servers yesterday and it's a no-go.

I'm on Android App v 2.2.0

[2015-12-17 18:47] BugsBunnyBR opened #52 "Image file render fails"
In the Android version, the render of uploaded files fails.
I am using the latest app version connected to the demo server.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29216967-image-file-render-fails?utm_campaign=plugin&utm_content=tracker%2F21834450&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](ht

[2015-12-17 19:11] geekgonecrazy commented on #52
@BugsBunnyBR does the file actually upload, but it doesn't render?  Last I tested it, it didn't seem to even upload the file.

[2015-12-17 19:13] juliocbcotta commented on #52
The file upload is not working. But files that were upload from the web client are not showing up in the Android Cordova app.

[2015-12-17 20:57] soenkef commented on #37
Confirm, that link not open on Android 4.4.4 and Android 5.0.

[2015-12-18 01:25] Morgul commented on #50
@geekgonecrazy digging into this, I think I've figured out the mechanism a bit more. On my self hosted instance, I _only_ get the update message after I upgrade my instance. Regardless of if I hit 'Update' or 'Cancel', the files for that server are never updated. I have to clear the data in order to get the latest changes.

Clearly, it seems like the 'update' functionality simply isn't working rig

[2015-12-18 12:55] pschonder commented on #15
@rcaferati can I provide some more information to identify this issue?

[2015-12-18 18:27] geekgonecrazy commented on #50
@Morgul that makes sense!  That explains why the demo server some times shows like 4-5 of them.  Since it updates a lot some days.  :)

[2015-12-18 21:22] Morgul commented on #50
@geekgonecrazy So, I've traced through the code. Here's is what I've been able to determine, but there's some big questions I have, since I don't know cordova (or coffee script).

1) That dialog appears here: [/www/coffee/servers-list.coffee#L120](https://github.com/RocketChat/Rocket.Chat.Cordova/blob/339804eb44880be09792b4c8a182d6544f6b86e7/www/coffee/servers-list.coffee#L120)
- It is clearly tri

[2015-12-19 15:57] sinteur opened #53 "Basic Auth not supported"
I protect my own server with an extra layer of basic auth in apache.

For the iOS app this would mean it would need to support this as the url for a the chat server (on top of the username/pw the chat app itself requires:

https://user:password@custom-server.com

Currently this does not work

[2015-12-21 18:20] geekgonecrazy commented on #50
@morgul you are for sure on the right track.  I just noticed today that the mention bar wasn't showing up.  So clicking it isn't actually getting the update.  So the dialog is real, its just never triggering the update.

[2015-12-21 18:22] geekgonecrazy commented on #53
@sinteur so you're ok just specifying it in the url and not being prompted?

[2015-12-21 18:37] sinteur commented on #53
either would be fine, but right now I don't get the prompt, and in the url it fails as well

[2015-12-21 22:04] pschonder commented on #36
+1

[2015-12-22 19:52] mcescalante opened #54 "Can't login to custom instance with Android"
I am running the latest server and application on my Nexus 6, and when I try to log into the instance, it just hangs at the login screen with no error indefinitely. The button reads "Please Wait..."

I do not see any output or access attempts either in the stdout for the application, or in my nginx access logs. I am running the application on a different port than 80, which I suspect may have some

[2015-12-23 18:57] geekgonecrazy commented on #54
How is the server being deployed? And is it at the current version?

You can check your version via: `http://{replace with your server hostname}/api/info`

[2015-12-23 18:59] mcescalante commented on #54
Great question @geekgonecrazy  - right now I'm just testing it out by cloning the repository and spinning the application up with `meteor` (via `screen`). Could that be why there are issues?

[2015-12-26 16:42] rodrigok commented on #50
The update works fine in iOS, the problem is related with Android and redirects, seems that the cordova do not fire the "deviceready" correctly after redirects on Android.

I will try to fix that.

[2015-12-26 18:12] #50 closed

[2015-12-26 18:21] rodrigok commented on #50
@geekgonecrazy I published a new version **2.2.1**, can you test?

[2015-12-26 20:26] #52 closed

[2015-12-28 19:13] Morgul commented on #37
Also confirming that links don't open on Android 6.0.

[2015-12-28 19:34] Morgul commented on #34
This was happening to me, but not longer is with the latest versions of server and app.

[2015-12-28 19:49] geekgonecrazy commented on #53
Shouldn't be hard.  We just need to allow it as valid.  I'll take a look

[2015-12-28 19:51] geekgonecrazy commented on #36
Just checked with 2.2.1 It does open a file picker, but doesn't seem to do the upload.  I don't think it opened the file picker before.

[2015-12-28 19:51] geekgonecrazy commented on #34
I haven't seen this any more.  Going to go ahead and close until one of us experiences again.

[2015-12-28 19:51] #34 closed

[2015-12-28 20:27] soenkef commented on #36
File upload doesnt't work. Same with the last version. Filepicker opens and select item is possible but then ends. No dialog whether to upload or cancel, no file transfer.

[2015-12-28 20:31] geekgonecrazy commented on #46
This seems to work now.  Going to close.  Will reopen if it shows back up

[2015-12-28 20:31] #46 closed

[2015-12-28 20:32] geekgonecrazy commented on #35
This seems to work.  Closing.  Will reopen if it shows back up

[2015-12-28 20:32] #35 closed

[2015-12-29 22:01] geekgonecrazy commented on #45
This seems to be working.  Closing. Will reopen if it reappears

[2015-12-29 22:01] #45 closed

[2015-12-29 22:08] geekgonecrazy commented on #54
@mcescalante Yes I would recommend deploying using one of our guides.

https://github.com/RocketChat/Rocket.Chat/wiki#deployment

There are some things that have to be done to generate the files for mobile.  This is done automatically as part of our build process.

And honestly we don't recommend running with meteor for any sort of production environment.

[2015-12-29 23:29] mcescalante commented on #54
Cheers @geekgonecrazy, makes sense - just wanted to note that I was only testing, and just didn't know what to expect running it with `meteor` (i.e. if mobile worked). I'm sure it's good in production and will report back here when I deploy properly for production that it's working as expected :smile:

[2015-12-29 23:29] #54 closed

[2015-12-29 23:56] geekgonecrazy commented on #54
@mcescalante understandable :) Yeah its so inconsistent between machine to machine we really had no choice but distribute a compiled version.  Please let me know if you have any problems.

Can find me at https://demo.rocket.chat @geekgonecrazy

[2016-01-02 11:56] yarons opened #55 "RTL in the Android app"
Besides the fact the app is not fully translated there are many visual glitches.

![screenshot_2015-12-29-11-44-06](https://cloud.githubusercontent.com/assets/406826/12032901/09bca5e2-ae26-11e5-8a82-c3eba647e343.png)
Preferences screen misaligned

![screenshot_2015-12-29-11-44-31](https://cloud.githubusercontent.com/assets/406826/12032902/0b8df308-ae26-11e5-9c0e-5cd7ce23cd93.png)
Chat windows, the

[2016-01-03 23:52] maxlinux2000 opened #56 "mobile platforms enabled?"
In the Readme.md I can see:

 !!!Attention!!!
This application only connects with servers that were compiled with mobile platforms enabled

..but I don't understand it.

I have build with success the .apk but when I try to connect to my own Rocket.chat server or to the demo.server, the app can't download the files.
(my server rocket.chat works perfectly with the official android app.... gcm push n

[2016-01-04 12:15] kreuzebek commented on #37
Links and images not open In Edge Browser. Before works. It's the only way to use Rocket.Chat on windows phone

[2016-01-05 17:29] gregmartyn commented on #44
I had to:
npm install bplist-parser minimatch inherits path-is-absolute inflight once
to get it to work

[2016-01-06 12:24] rodrigok commented on #37
@kreuzebek please open a new issue on our server repo https://github.com/RocketChat/Rocket.Chat since this issue is not related with our Cordova apps.

[2016-01-06 12:35] rodrigok commented on #37
Fixed via https://github.com/RocketChat/Rocket.Chat/commit/c33a446759c4a33bb898581c5e64f4fecd0f9433

@soenkef, @Morgul, @graywolf336, @geekgonecrazy can you try?

[2016-01-06 12:35] #37 closed

[2016-01-06 15:09] geekgonecrazy commented on #37
@rodrigok it prompted me about an update from the server, that didn't work.

I then cleared the data and re-added the server, and it worked.  So resolved

[2016-01-06 15:27] dmartinpro commented on #20
Any news about this?

[2016-01-06 17:12] stoufa88 commented on #36
+1 File upload doesn't work also on Android 4.4

[2016-01-06 17:39] geekgonecrazy commented on #56
@maxlinux2000 are you using one of our officially recommended deployment methods?  We did recently change things up a little to make a cleaner deploy.

Check: https://github.com/RocketChat/Rocket.Chat/wiki

[2016-01-06 19:00] sampaiodiego opened #57 "Sidebar glitch"
As pointed by @infinitnet in https://github.com/RocketChat/Rocket.Chat.Android.Lily/issues/15

The icons on the right sidebar randomly disappear. If I kill and restart the app or switch rooms a few times the icons are come back. Issue appear to happen randomly. Using latest release from Play Store on a Sense 7 ROM, Android 5.0.2.
![screenshot_2016-01-06-17-43-24](https://cloud.githubusercontent.co

[2016-01-06 19:07] sampaiodiego commented on #57
@infinitnet what server version are you using? I think this glitch was solved by https://github.com/RocketChat/Rocket.Chat/pull/1782 which is not in v0.12

[2016-01-06 19:10] infinitnet commented on #57
I see, I assumed it were related to the app. I'm running an older version (the .tar from your S3 which is more than a week old, so doesn't include the commit you mentioned). You can close this then and I guess I'll have to wait until the tarball on the S3 is updated. Apologies about the inconvenience.

[2016-01-06 19:31] sampaiodiego commented on #57
no problem, really! :smiley:
it's really important to us when the community get involved :wink:
I'll close then.. thank you

[2016-01-07 12:39] piyush-avantsoft commented on #44
its not proper solution though i am getting error.

[2016-01-07 18:00] 3jFernando commented on #44
Tengo el mismo error, no pude continuar, estoy trabando en ubuntu 14.04.3 por favor si alguien logra solucionarlo que avise gracias...

[2016-01-07 18:18] geekgonecrazy commented on #44
Translation:

[2016-01-07 19:03] rodrigok commented on #44
Ok, I started a ubuntu VM and I got the same error using the npm installed from apt-get.

I did update the npm `npm install npm -g` to version `3.5.3`
I removed the cordova installation `npm uninstall cordova -g`
And installed again `npm install cordova -g`

That worked for me, can you guys try it?

[2016-01-07 22:42] 3jFernando commented on #44
Eres grande amigo, muchas gracias rodrigok :+1:  :100:

[2016-01-07 23:36] jcardila commented on #36
+1 Doesn't work on Android 5.1 and 4.4.4

[2016-01-08 11:34] #44 closed

[2016-01-15 09:26] CrazyCodz opened #58 "Not Connecting to Server"
After building the app using this code and running it on device, it takes me the page where I need to enter the server url. I enter the server url but its not going further.
I guess it is not connecting it to the server. There is no action after clicking the connect button.
I tried multiple server urls (even official rocket chat: https://demo.rocket.chat) but the issue remains.

![rocket](https://

[2016-01-19 04:44] Sing-Li commented on #25
![screenshot_2016-01-18-11-51-47](https://cloud.githubusercontent.com/assets/122633/12409902/1a2f8a08-be3d-11e5-9e0b-c6814e86780f.png)

Confirmed this will happen randomly with mobile client.  Seems to be some race condition on the first load of the login screen.

When it works - the white bar expands into the full login.  But when it doesn't work, you just get the white bar.  And restarting the a

[2016-01-19 13:51] rodrigok commented on #25
Some times this is related with server heavy load. Now we have the "connection" bar in the login screen to, so you can see if the app is trying to connect the websocket.

[2016-01-19 15:23] Sing-Li commented on #25
It happens AFTER you add a new server, validating-downloading 1/9, 2/9, 3/9 ... etc.  And before the login screen is shown for the very first time.
When this happens on the Cordova app, it stops retrying on displaying login screen altogether. No connection bar.
And then it also seems to cache the version of the page that stopped trying. So the next time you restart the app, you only get the screen

[2016-01-19 16:32] Sing-Li opened #59 "__meteor_runtime_config__.ROOT_URL not changed when ROOT_URL is changed"
For some reason `__meteor_runtime_config__.ROOT_URL` value in  `https://rocketchat-host/__cordova/index.html`  is not changed even when the ROOT_URL value is changed via the admin console, or via our _*Auto ROOT_URL detect popup toast*_.

This will cause the mobile app to load the previous ROOT_URL value, resulting in a blank (or white bar) login screen.

This happens frequently because the defaul

[2016-01-19 16:40] Burstaholic commented on #51
What device are you using? I have no performance issues on my 2013 Moto X or my new Nexus 5x, but I hear complaints of slow performance from others with older devices - it would be very useful to get an idea of what level of hardware has issues.

[2016-01-20 17:27] soenkef commented on #36
@rodrigok: Any idea?

[2016-01-20 21:00] geekgonecrazy opened #60 "Allow launching of application via rocketchat://"
It would be cool for someone to be able to put something like Join us on rocket.chat with a link and it open the app.

So links like maybe rocketchat://demo.rocket.chat

[2016-01-20 21:23] rodrigok commented on #36
@soenkef I spent some time trying to solve that problem with no success. Maybe someone can help me.

[2016-01-21 02:12] kiiada commented on #25
This problem was resolved when I toggled the "show form-based login" on and off under admin settings. I also made some other changes to the server around this time, can anyone reproduce this?

[2016-01-22 03:20] dmkanter opened #62 "iOS missing minimize keyboard function"
On iOS only way to minimize keyboard is to click hamburger icon on upper left then return.

[2016-01-24 06:29] jalagrange commented on #56
I had a similar issue @maxlinux2000 . They way I solved it was by running my server on port 80 with root privileges like it says in the documentation:

sudo su
export ROOT_URL=http://your-host-name.com-as-accessed-from-internet/
export MONGO_URL=mongodb://localhost:27017/rocketchat
export PORT=80

[2016-01-25 21:15] raulfiru commented on #59
i fixed my issue... it was a certificate problem...

i used let's encrypt and created a specific subdomain one. i used *.domain certificate before..and apparently android as issues with it.

[2016-01-25 21:25] pschonder commented on #36
@rodrigok, have you seen the PR?

[2016-01-25 21:29] rodrigok commented on #36
@pschonder I'm sorry, I didn't see.

Great solution :smile:, I will try and merge your PR if works for me

[2016-01-25 21:38] #36 closed

[2016-01-27 11:27] uwittygit opened #63 "android app don't has notifications"
HI,
I followed the official document to build the android APP, but there is no notifications when received a new message ,any hints?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30253431-android-app-don-t-has-notifications?utm_campaign=plugin&utm_content=tracker%2F21834450&utm_medium=issues&utm_source=github)** We accept bounties

[2016-01-28 10:25] Johann-Snapp opened #65 "Can't access to login form on iOS"
I've got an issue accessing to login form on iOS.
Here's what happens:

1. The app starts
2. I put the URL of my rocket.chat server
3. I'm redirected on the sign up form
4. When clicking on the "Back to login form" link, I'm not redirected and stay on the same page

Plus on the signup form, the CSS seems not to be loaded.
Did I miss something ?

![app-server-screen](https://cloud.githubusercontent

[2016-01-28 21:00] geekgonecrazy commented on #65
if you goto:

http://{yourserver}/api/info what version are you running?

Also how did you deploy the server?

[2016-01-29 01:53] uwittygit commented on #63
the official app from google play has notifications . but my app didn't. why was that? is there any dfferent configuration?

[2016-01-29 09:16] Johann-Snapp commented on #65
Hello, thx for answer.
I'm using the last version of the server: "0.15.0" installed without docker and running with passenger.

Note: When I'm trying to connect to demo.rocket.chat server, everything works fine.
Plus, is there a way to run properly the application in a browser so that we can fully use the dev tools ?

Edit: I've made a `cordova add platform browser`, `cordova build browser`, `cord

[2016-01-29 09:48] Johann-Snapp commented on #65
Just fixed it.
It wasn't working because of the previous update from 0.14 to 0.15 which didn't pass well.
Removing the server and directly installing the 0.15 version fixed it.

[2016-01-29 09:55] #65 closed

[2016-01-29 17:33] graywolf336 commented on #63
The official app uses a push notification gateway which requires the official application to be installed. If you want push notifications, then you're going to have to set that up yourself.

[2016-01-29 17:33] #63 closed

[2016-01-30 02:49] uwittygit opened #66 "about push server"
HI,
I am new to Rocket.Chat.Cordova, I can build the app, set up rocketchat server, I dont have any experience on developing apps,  do you have any detailed document on how to make notification work?
just supposed I can setup or buy one notification server,  (GCM/APN) token is ready.

how should I configure server side or client side?

[2016-01-31 00:31] jalagrange commented on #65
Hi @Johann-Snapp, could you please explain a bit better what you mean with "removing the server and directly installing 0.15" means? I am 99% sure I have exactly the same problem. I was running 0.14 and did an update to 0.15 but it is still broken so i don't know what you mean by "directly installing 0.15"

[2016-01-31 12:20] Sugaroverdose opened #67 "App shows blank screen while internet connection is poor or not available on iOS"
It would be cool if app will start and show local cache while connection to server is impossible.
Blank screen isn't informative, but cached messages could be.

[2016-02-01 08:34] Johann-Snapp commented on #65
Hi @jalagrange.
I've just rm -rf the project from my server, removed the mongo database and re-install all from the release.

[2016-02-06 19:43] jalagrange commented on #65
hi @Johann-Snapp I finally got the time to do this and I went ahead and updated to 0.16 as well. Now the theme css downloads perfectly but when trying to log in I am getting "failed to connect to server abort abort".

Upon further inspection I see that upon requesting access to http://serverurl/api/info, the console logs the following error:

Failed to register the server http://serverurl

Similar

[2016-02-07 17:56] jalagrange commented on #65
Alright, final update, it works... But I didn't actually do anything to fix it so I thing the last issues had something to do with the DNS since I had just recently changed them. What is weird is that it allowed access through web and not mobile so I honestly don't know what fixed it. I just simply tried the app a couple of hours later and everything was working. Thanks for all the help

[2016-02-08 10:37] Johann-Snapp commented on #25
@bukkits- it doesn't work for me.

[2016-02-08 10:57] Johann-Snapp commented on #59
Tested on Android, debugging with chrome.

**On the server screen:**
- The application can't download the `manifest.json` file
- Same for `fr.i18n.json` file

**After downloading files from the server:**

The application fails to downoad sandstorm-credentials. As the file is not found, the xhr response body is null and the callback throws: "/.sandstorm-credentials is not JSON?".
When I look at the

[2016-02-12 05:35] mrplow commented on #51
It takes around 13 seconds from launching the Android app to the main chat screen for my nexus 5

[2016-02-12 05:37] mrplow commented on #15
This happens using the official Android app connecting to the demo server and our own server
Using the mobile browser works fine though.
![gif_20160211_211200](https://cloud.githubusercontent.com/assets/1490165/12999759/8e4b0a34-d107-11e5-9284-93956bc7aca4.gif)

[2016-02-12 07:47] skemb321 opened #68 "Question: Is this not the same with the web version?"
Hello.

I am learning how to create mobile apps using meteor and cordova. I am confused because I was able to generate a cordova app using the webversion using meteor commands. Are the files here based from the web version (or copied from it) ?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30785323-question-is-this-not-the-same-wit

[2016-02-12 14:55] Burstaholic commented on #68
Yes, the Android app actually downloads the web app from the server URL you give it and runs it locally, so even if, for example, you switch between two servers running different versions of the web app, your local app will reflect any differences when you switch.

[2016-02-12 16:16] AsadAlihp commented on #44
I have the same error , I just updated npm and then it worked :)

[2016-02-13 04:50] mrplow opened #69 "missing build instructions?"
I feel a bit daft but I can't seem to get this to build following the instructions in the readme

`mrplow@mrplow-desktop:~/StudioProjects/Rocket.Chat.Cordova$ cordova prepare -d
Executing "before_prepare"  hook for all plugins.
Resolving module name for q => q
Error: Cannot find module 'ticons'
    at Function.Module._resolveFilename (module.js:336:15)
    at Function.Module._load (module.js:278:2

[2016-02-13 05:19] valessiobrito commented on #60
+1

[2016-02-13 21:59] valessiobrito commented on #69
Compile without complications. alerts and errors that were appearing were for lack of dependence.

[code]

[2016-02-13 22:34] valessiobrito commented on #69
I update the build instructions:
https://github.com/RocketChat/Rocket.Chat/wiki/Build-the-Android-Cordova-Web-App-and-connect-to-your-own-Rocket.Chat-Server

[2016-02-14 00:13] mrplow commented on #69
There we go, that's much better.

Thank you very much @valessiobrito

[2016-02-14 03:56] mrplow commented on #69
can you also update the main README.md?
Also the wiki instructions state to install ticons, underscore, and coffee globally, that doesn't seem to work. The instructions on this ticket, installing them locally, do work

[2016-02-14 04:11] mrplow opened #70 "feature request - allow building for only one server"
I think a cool feature when building your own apk would be to have a setting to make the app only connect to a specific server.

#So for my own builds the apk would always connect to my server and wouldn't prompt on first run which server to use.

[2016-02-14 13:02] valessiobrito commented on #70
+1 and with support a Self Signed Certificate SSL

[2016-02-14 15:13] pschonder commented on #70
@mrplow, you could add something like this to your "www/branding/js/branding.js":

[code]

[2016-02-14 15:32] pschonder commented on #70
@valessiobrito, i think that's not possible because certificate validation is done by the underlying system (iOS/Android). I remember there is a debug switch in Cordova to disable Validation on Android but this is only for testing purposes.

[2016-02-14 20:06] geekgonecrazy commented on #69
@valessiobrito / @mrplow created a PR with the instructions you guys listed here.  Can you guys give it a once over and see if everything looks right?

[2016-02-14 20:06] #69 closed

[2016-02-14 20:18] valessiobrito commented on #70
@pschonder It's possible using a cordova plugin. See: https://github.com/hypery2k/cordova-certificate-plugin

[2016-02-14 20:54] mrplow commented on #69
@geekgonecrazy

A bit off, here are my steps that work. I don't know why but it doesn't build for me if I install ticons and underscore globally.

~$ rm -rf Rocket.Chat.Cordova/
~$ git clone https://github.com/RocketChat/Rocket.Chat.Cordova.git
~$ cd Rocket.Chat.Cordova/
~/Rocket.Chat.Cordova$ npm install ticons underscore
~/Rocket.Chat.Cordova$ echo 'Bugsnag.apiKey = "YOUR-API-KEY-HERE";' > www/j

[2016-02-14 20:54] mrplow commented on #70
@pschonder that worked great adding that code to branding.js

[2016-02-15 12:27] imane12 opened #72 "cordova app cannot connect to edited server"
I edit server Rocket Chat and I run meteor, then I try to connect my android application (Rocket.Chat.Cordova) to our server . it downloads all files but can't connect to server (it show waiting for server connection, trying again ...)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30862749-cordova-app-cannot-connect-to-edited-serve

[2016-02-15 14:48] ulope opened #73 "[iOS] App unconditionally stops background audio"
Steps to reproduce:
* Have some other app play background audio (music or some such)
* Switch to Rocket.Chat
* Background audio is stopped

[2016-02-15 22:41] valessiobrito commented on #63
@graywolf336 Where is it? How to do?

[2016-02-17 04:48] engelgabriel opened #74 "Authorization: Bearer"
Turn server URLs like this one:

[code]

Into on a request like this:

[code]

And all its subsequent requests to this server must have the `Authorization: Bearer` header, and you can have multiple connections to the server with different tokens, so it should grab the name from the instance to save on the server list.

This will fix https://github.com/RocketChat/Rocket.Chat/issues/1352 for Mobile.

[2016-02-17 07:39] nabaragpaul opened #75 "Rocket chat cordova app Push Notification issue on android"
Hello all , greetings .

     I am using rocket chat cordova for mobile app in android platform. I am not getting any notification  in the device . I have created a new project in google developer console , generated sender ID and api key with GCM   and using it in index.js file and I have added the same GCM api keys and sender ID in web instance where it was required  but no luck yet.

 Any kind

[2016-02-17 12:52] CrazyCodz opened #76 "Push Notification configuration"
How do we configure the push notification for Android and iOS?

Do we need to do anything to gateway?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30942213-push-notification-configuration?utm_campaign=plugin&utm_content=tracker%2F21834450&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.boun

[2016-02-17 13:13] CrazyCodz commented on #76
Here is the steps which I have followed for the Push notification.

1) Created a new project
2) Generated a API key of the type browser
3)  Added the record in Administration --> Push

GCM API Key  = "API key"
GCM Project Number  = " project number"

4) Created a file www/js/android_sender_id.js with following
 window.ANDROID_SENDER_ID =  "Project number"

5) disabled the gateway

Am I missing any

[2016-02-17 13:50] CrazyCodz commented on #76
Deleted all the records in _raix_push_app_tokens.  Then deleted all the records. Then logged out of the app then logged back. It created a new record in the table.

[2016-02-18 18:37] Burstaholic commented on #51
Hmm; my Nexus 5x on Marshmallow takes about 10 seconds from a cold start - I think slow initial startup may be just part of the deal with a Cordova app.

I'm more curious about problems after startup, like taking ~60s to open a new channel - that's not expected, to me anyway.

Assuming the Rocket guys are cool with it, my latest PR changes the Crosswalk WebView configuration to use the latest vers

[2016-02-20 23:07] mrplow commented on #15
6065cf6 fixed this for me!

[2016-02-22 01:01] bkkilaru commented on #68
@Burstaholic How does it load only 13 files though rather than the 86 during an update?

[2016-02-22 03:22] alur222 commented on #68
It loads the Web App Version to a "webview". So basically this app is the mobile icon (the one you see in the mobile), the splash screen, the loading screen and the scripts for downloading the webversion. @bkkilaru

[2016-02-22 03:27] Sing-Li commented on #68
Closing this since the question has been answered.

[2016-02-22 03:27] #68 closed

[2016-02-23 11:51] jmatsushita opened #78 "Add WebRTC support for Android"
Redirected from RocketChat/Rocket.Chat.Android#11 Seems implemented for iOS #29 but doesn't work for me on Android.

[2016-02-25 10:47] dytec commented on #57
This issue still happens to me.
Server version 0.19, Nexus 5 with Android 6.0.1
If you switch 2 channels and then go back 1 channel the icons are added back to the sidebar.

[2016-02-25 15:15] pschonder commented on #57
Happens to me too on iOS & Android.

I think this is related to https://github.com/RocketChat/Rocket.Chat.Cordova/issues/15

[2016-02-25 18:40] pschonder commented on #57
@dytec can you test it on your android-device? i only have a simulator to test with.

[2016-02-26 01:34] #57 closed

[2016-02-26 01:35] geekgonecrazy commented on #57
Yes lets refer to #15 the issue still happens.

[2016-02-26 12:41] #15 closed

[2016-02-26 20:53] grassbl8d commented on #65
Hi, I'm also encountering issue. Can't login to the mobile app. It says Waiting fo Server Connection . Trying again in X Seconds Continuously. I don't have any issues on the mobile web and desktop web versions even if fronting with an Apache Proxy.

[2016-02-26 21:39] geekgonecrazy opened #79 "Add WebRTC support to iOS"
iOS webview doesn't support WebRTC.

But this handy cordova plugin might do the trick :smile:

https://github.com/eface2face/cordova-plugin-iosrtc

[2016-02-26 21:41] geekgonecrazy commented on #79
Actually nvm looks like this exactly plugin is already in.  My bad.  https://github.com/RocketChat/Rocket.Chat.Cordova/commit/b39c5991f70d623c9681c6e91ec70ec71a458733

But its not functioning for many people.

[2016-02-26 21:48] geekgonecrazy commented on #78
WebRTC support is already on Android.  What version of Android do you have and do are you using the latest from the play store, or compiling your self?

[2016-02-26 21:51] geekgonecrazy commented on #76
@CrazyCodz did this work?

[2016-02-26 21:54] Teadev commented on #79
I'm using Iphone 5s version 8.3 and I tried video calls and voice but it didn't work.

[2016-02-26 21:56] CrazyCodz commented on #76
We got it working for the Android but iOS is still pending.

The steps I wrote is pretty much what we followed. Are you facing the same issues?

[2016-02-26 21:58] geekgonecrazy commented on #76
@CrazyCodz I am not. Just wanted to check in and see if you had figured it out.  Please feel free to reach out to me on the demo server https://demo.rocket.chat

[2016-02-27 11:18] jmatsushita commented on #78
I'm using Android 6.0.1 (In version 6 there's a new permissions API which require requesting access at runtime) and the latest app from the playstore (which also fetched an update recently - maybe because I updated our server side instance which tracks the develop branch - but it didn't work even before that).

[2016-02-29 16:49] rodrigok commented on #79
@geekgonecrazy the plugin was removed because I had problems compiling the project. I will try again in the next days.

[2016-03-04 07:23] testuser2015 opened #80 "sandstorm-credentials issue in Custom Mobile app connection"
I am connecting with my custom mobile app, demo server connection ok, but when i am  trying with custom rocket chat server.All files are downloaded correctly .But during the connection ,
 The application fails to downoad sandstorm-credentials. As the file is not found, the xhr response body is null and the callback throws: "/.sandstorm-credentials is not JSON?" and breaks here. I have edited host

[2016-03-04 13:09] rodrigok commented on #80
We do not support sandstorm in our mobile and desktop apps.

[2016-03-04 20:21] homberger opened #81 "No push notifications"
I don't receive any push notifications of Rocket.Chat on my iPhone anymore.
Since I applied the "fix" (https://github.com/RocketChat/Rocket.Chat/issues/2399 : setting a word in the "highlight" field) to not receive a push notification for every message in any channel even from myself, I don't receive *any* push notifications - even when I am mentioned.
Look at attached screenshot to see my profile

[2016-03-05 10:23] homberger commented on #81
I deleted and reinstalled the app on my iPhone. When asked for permission to send push notifications I agreed (like before). Still no push notifications.
How can I debug this?

[2016-03-05 11:20] rodrigok commented on #81
Hi @homberger, this problem is not related with the mobile app it self.

Can you open this issue in this repository https://github.com/RocketChat/Rocket.Chat?

[2016-03-05 11:20] #81 closed

[2016-03-05 11:27] homberger commented on #81
This issue was moved to RocketChat/Rocket.Chat#2431

[2016-03-07 04:40] testuser2015 commented on #80
I only need to run this custom mobile application build from Rocketchat cordova app in android Mobile, when i am running i am getting this /.sandstorm-credentials is not JSON?" in console and application trying to reconnect. How can i  solve this issue ?
![screenshot_2016-03-07-12-51-41](https://cloud.githubusercontent.com/assets/10415356/13563329/d60beaa6-e466-11e5-9518-bcff85bcc59e.png)

[2016-03-07 11:12] rodrigok commented on #80
Are you using sandstorm to host your server?

[2016-03-07 12:09] testuser2015 commented on #80
No I have not used anything, I have used cordova git hub code from git and build and run in android device. Demo server working fine, but our custom server download files are ok, but stuck on this error, on chrome://inspect i have seen the above error  "/.sandstorm-credentials is not JSON?"

[2016-03-07 12:30] rodrigok commented on #80
How are you running your server?

[2016-03-07 12:40] testuser2015 commented on #80
Following the steps .https://github.com/RocketChat/Rocket.Chat.Cordova

[2016-03-07 12:41] rodrigok commented on #80
Your server, not your app.

[2016-03-08 05:29] testuser2015 commented on #80
My server is linux debian one.  It is linux debian one. domain name is subdomain and it is private one and it is only available in here only like test.mydomain.com

[2016-03-08 16:37] rodrigok commented on #80
What command are you using to start the process?

[2016-03-09 05:19] testuser2015 commented on #80
cordova run android

[2016-03-10 06:44] testuser2015 commented on #80
how to solve this issue, is any chat available to chat with Rocketchat member to solve this issue.

[2016-03-10 11:50] rodrigok commented on #80
Can you tell us how command are you using to run your Rocket.Chat server?

[2016-03-11 06:56] testuser2015 commented on #80
git clone https://github.com/RocketChat/Rocket.Chat.git
cd Rocket.Chat
meteor

we have used sudo meteor and it is working fine and can see through web/mobile.

Problem with mobile app only .

[2016-03-11 14:18] rodrigok commented on #80
Great, thank you @testuser2015

So, as you are using the `development` mode, you should define the url where your server is running so the mobile apps can connect to that url.

use `meteor --mobile-server http://192.168.0.10:3000` replace the **http://192.168.0.10:3000** by your host or ip address.

After that you should remove the server from your app or delete and reinstall the app to download t

[2016-03-11 14:18] #80 closed

[2016-03-11 15:34] barteljan commented on #80
Hey,

we have exactly the same problem when deploying the server by docker and connecting to it by the Rocket.Chat.Cordova App with an iOS device.

Did we miss some environment configurations to get it running ?

We are using the following docker compose yml to create and start the server:

mongo:
   image: mongo
   command: mongod --smallfiles --oplogSize 128

rocketchat:
   image: rocketchat/roc

[2016-03-13 08:58] mknet commented on #65
I got the same issue as @grassbl8d. I'm running 0.21.0. Any hints?

Thank you

Update: I got the same issue on Android.

[2016-03-13 09:11] grassbl8d commented on #65
I think you need to pass a parameter when starting it. The mobile host I
just forgot the exact command . The mobile host needs to be passed I i
remember correctly. I was already ble to make it work.

On Sun, Mar 13, 2016 at 4:58 PM, Marcel Koch notifications@github.com
wrote:

[2016-03-13 09:19] mknet commented on #65
Do you mean the ROOT_URL?

[2016-03-16 18:10] mknet opened #83 "Not able to access my installation via Mobile Apps"
As I already wrote in the closed issue #65, I am not able to access my server via the Mobile Apps.

I run the app directly out of the cloned git repo for testing reasons. The thing I don't understand is why does it work perfectly in the browser and within the Mac "Web View App" and theres is not even a request coming to the server while I'm trying to to access it via the iOS or Android app?

Is th

[2016-03-16 21:36] rodrigok commented on #83
Can you try this? https://github.com/RocketChat/Rocket.Chat.Cordova/blob/develop/README.md#i-cant-connect-to-my-server-instance

[2016-03-17 07:57] mknet commented on #83
Thanks, @rodrigok
After setting this switch, **removing** my former configured server and adding it once more it worked.
Have you already thought about putting this hint also into the README.md of the server project? I didn't take a look at the Cordova project since I wasn't building my app manually.

Thanks

[2016-03-17 11:52] rodrigok commented on #83
Great.

Not right now, we are trying to fix this problem first.

[2016-03-17 11:52] #83 closed

[2016-03-17 13:01] #59 closed

[2016-03-17 18:35] jots commented on #1
similar problem.  it appears to record and brings up preview window with correct number of seconds, but audio is silent.  posting it just posts silent audio (clicking on desktop version).

nexus 5.  latest develop rocketchat version.

[2016-03-19 11:54] RichardFoxworthy opened #84 "custom icons / branding"
Just figured out how to build Cordova app, and would like some help which graphics to update to change branding for Cordova mobile?

I think it insists on ImageMagick being present so it can generate the various icons and resolutions? What is the base image file that is used?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/32051528-c

[2016-03-20 19:36] stemendrew opened #85 "[iOS] App doesn't use landscape mode"
While using the Rocket.Chat app published via the App Store (https://geo.itunes.apple.com/us/app/rocket.chat/id1028869439?mt=8), the app does not honor landscape orientation of the device. This makes the app completely unusable by anyone using an iPad in landscape orientation (which is almost always the case when you have an attached keyboard).

<bountysource-plugin>
---
Want to back this issue? *

[2016-03-25 17:48] richardwlu opened #86 "Mobile App Showing Plain Text"
When we connect to our RC server from the mobile app we are getting plain text only from both iOS and Android.

Our Rocketchat version is 0.23 with the app version 2.2.2.

I'm not sure if this has to do with some nginx configuration. The server we are accessing ends in .com and it is reverse proxying into our backend that ends in .us. Everything works in the browser fine. I noticed someone in #sup

[2016-03-26 14:54] mspl13 commented on #86
The same issue seems to apply for the Android Version (can only confirm for 4.4.4 and above).
You can actually login by using the username and password fields only, but still there seems to be something wrong (see screenshots below, Android 4.4.4).
![screenshot_2016-03-26-14-29-01](https://cloud.githubusercontent.com/assets/8393513/14060615/c237e38c-f36a-11e5-90e0-9aab4e39c60c.png)
![screenshot_20

[2016-03-27 07:22] HammyHavoc commented on #20
@Martinspire Did you ever get started on this? Would be interested in collaborating.

[2016-03-30 03:39] Burstaholic opened #87 "2.2.4 Crashes on Android"
adb logcat:

[code]

I'd debug this more, but apparently Gradle and Android Studio aren't getting along right now, and therapy will have to be later.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/32388730-2-2-4-crashes-on-android?utm_campaign=plugin&utm_content=tracker%2F21834450&utm_medium=issues&utm_source=github)** We accept bou

[2016-03-30 14:57] tholu commented on #72
I have the same issue with the iOS application from the AppStore.

[2016-03-30 14:57] tholu commented on #58
I have a similar issue where it is loading forever after entering my server URL (worked before!) on iOS 9.3.

[2016-03-30 15:09] tholu opened #88 "iOS App in AppStore - can't connect to my server"
Suddenly the connection to my server does not work anymore with the published iOS App (2.2.2) in the Appstore on iOS 9.3. The app is stuck at the Loading... screen after entering the server URL. Neither forcequitting nor reinstalling helped. Also updating the server (running with docker-compose) from 0.20 to 0.24 did not fix the issue.

Desktop apps work fine, mobile version in Safari also works f

[2016-03-30 22:39] richardwlu commented on #86
Fixed in Rocket.Chat 0.24.

[2016-03-30 22:39] #86 closed

[2016-04-01 17:13] rodrigok commented on #87
The beta was fixed, can you test with the latest?

[2016-04-01 17:13] #87 closed

[2016-04-02 23:27] mrplow commented on #1
This is still an issue. It works on the mobile site but not in the app.
Perhaps the record audio permission needs to be added?

[2016-04-04 13:46] rodrigok commented on #19
Should be fixed, please reopen this issue if not.

[2016-04-04 13:46] #19 closed

[2016-04-04 13:49] rodrigok commented on #25
Should be fixed in the latest Rocket.Chat server version, please reopen this issue if not.

[2016-04-04 13:49] #25 closed

[2016-04-04 13:51] rodrigok commented on #26
Since our app is working for multiple servers I will close this issue.

[2016-04-04 13:51] #26 closed

[2016-04-04 13:54] rodrigok commented on #51
We added more visual feedbacks, the startup time is slow because the app needs to download informations about rooms, subscriptions, users, etc, our demo server have many rooms, so the startup should be more slow.

Please, try the Rocket.Chat server version 0.25.0 that will be released today.

[2016-04-04 13:54] #51 closed

[2016-04-04 13:56] tholu commented on #88
Seems to be fixed with iOS 9.3.1.

[2016-04-04 13:56] #88 closed

[2016-04-04 13:58] rodrigok commented on #58
@CrazyCodz can you use remote inspector (chrome or GapDebugger) to see if you have some erros?

[2016-04-04 13:59] rodrigok commented on #67
@Sugaroverdose can you detail more?

What is the current behavior? Can you provide a screen shot?
What is the expected behavior?

[2016-04-04 14:01] rodrigok commented on #72
@imane12 can you test this? https://github.com/RocketChat/Rocket.Chat.Cordova#i-cant-connect-to-my-server-instance

Please reopen this issue if the problem persists.

[2016-04-04 14:01] #72 closed

[2016-04-04 14:01] rodrigok commented on #85
Will be fixed on the next version, currently in beta

[2016-04-04 14:01] #85 closed

[2016-04-06 14:37] Burstaholic commented on #87
Just to document, it looks like the `.2` value in the `FadeSplashScreenDuration` was the issue, and removing that did fix the crash for me.

[2016-04-06 16:46] Morgy93 commented on #20
I got some experience with Apache Cordova and Windows, but only in connection with Visual Studio. (Because it's super easy :D)
I'm trying to get this working somehow with Visual Studio, but currently I'm stuck at the following error: `1>MSBUILD : cordova-build error : Please install ImageMagick.`
So let me figure out how to get ImageMagick into Visual Studio and I'll report back to you.
Probably i

[2016-04-06 23:10] graywolf336 commented on #20
Image magic is something you install at the Windows level, hopefully then
it'll get past that stage.

On Wed, Apr 6, 2016, 11:46 AM Morgy93 notifications@github.com wrote:

[2016-04-07 13:05] elboletaire opened #89 "Custom assets are not loaded on mobile app"
I've just seen this today. I have my rocket chat with all the assets configured. They work OK on the web app, but the mobile app (for iOS in my case) does not show any of the configured images.

![photo_2016-04-07_15-03-02](https://cloud.githubusercontent.com/assets/153305/14351860/f8481a62-fcd1-11e5-9f18-01e72f3ed63c.jpg)

Here I can only show the sidebar because after login in with facebook I ca

[2016-04-07 13:09] Sugaroverdose commented on #67
Yes of course:

What do we have when starting app and have descent internet connection:
![img_0417](https://cloud.githubusercontent.com/assets/10269200/14351938/2be2453a-fce3-11e5-8185-1a3f1ba8b674.PNG)
What do we have when starting app and have bad, or don't have at all internet connection:
![img_0418](https://cloud.githubusercontent.com/assets/10269200/14351953/3e605bd4-fce3-11e5-83b3-a89405e77d

[2016-04-07 17:33] Morgy93 commented on #20
Yes, I can confirm it. It does run on Windows!
![rocketchat_cordova_win](https://cloud.githubusercontent.com/assets/7961978/14360551/3ceb306c-fcf7-11e5-9e8e-424e1aff0253.png)

There is actually just one little code change I had to do:
config.xml: `<preference name="Orientation" value="all" />`
The value "all" is not allowed, I changed it to "default". (For portrait and landscape)

[2016-04-07 17:36] Morgy93 commented on #20
Windows-64x - Local Machine:
![rocketchat_cordova_win64](https://cloud.githubusercontent.com/assets/7961978/14360745/119903f2-fcf8-11e5-8204-1f7553f1b8ac.png)

[2016-04-07 17:39] Morgy93 commented on #20
By the way .. I am also able to run this with Android and iOS within Visual Studio. =)

[2016-04-08 04:35] geekgonecrazy commented on #89
How are these assets loaded?  Are they links to external images?

[2016-04-08 04:38] geekgonecrazy commented on #20
@Morgy93 this is excellent!  So other then that it works well?  We need to look at getting it listed in the windows store then 😄

[2016-04-08 06:20] TheReal1604 opened #91 "Can Not edit / delete messages after update to 2.3"
Hey Guys,

My rocket.chat server version is 0.25.0. After the update of my mobile app on ios i can't edit my own post. There is no option to do this anymore. Before the update there was a little gear icon then I tab on the messages.

(Screenshot attached)

Greets
TheReal

![](http://i.imgur.com/GcpDzEe.jpg)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bo

[2016-04-08 06:37] geekgonecrazy commented on #91
@TheReal1604 try long pressing on the message.  Also make sure you're on the latest version of the app.  I think a new version was just released a couple of days ago.

[2016-04-08 08:29] elboletaire commented on #89
These assets have been added using the "Assets" administration menu.

[2016-04-08 09:50] TheReal1604 commented on #91
@geekgonecrazy Thanks for the hint.. this was new to me. Works like a charm!

[2016-04-08 09:50] #91 closed

[2016-04-09 04:51] AJ-Acevedo commented on #60
What @geekgonecrazy is referring to is described as implementing a custom URL scheme as part of the [Apple Inter-App Communication guide](https://developer.apple.com/library/ios/documentation/iPhone/Conceptual/iPhoneOSProgrammingGuide/Inter-AppCommunication/Inter-AppCommunication.html).

[2016-04-09 18:58] pierreozoux opened #92 "Details to run the app for mobile version"
Hi!

Could you detail a bit more here please:
https://github.com/RocketChat/Rocket.Chat.Cordova/blob/develop/README.md#attention

I run my server with the official image, and I'd like my users to be able to use the mobile app.
I tried (hard) to understand, but I failed :)

Thanks a lot for your help!

[2016-04-11 04:08] graywolf336 commented on #20
@Morgy93 Mind hitting me up on the demo server? I'm curious to see if I can get my Visual Studio to load this up!  👍

[2016-04-11 05:20] Morgy93 commented on #20
Actually all I did was loading up a blank Apache Cordova project within Visual Studio and copied over all the files from this repo.
After some minor work I was able to debug the project.
I did no further work than this. =/

[2016-04-11 08:24] klatys opened #94 "Avatar link not working"
When I click on user's avatar in DM or channel, it opens safari with weird url which I didn't find in any of the config options
our base url: https://chat.skrz.io
url of avatar: http://httpschatskrzio.meteor.local/channel/general#
App deployed via docker. Any ideas whether this is issue with configuration or mobile app?
(does not happen in desktop/browser apps)

<bountysource-plugin>
---
Want to b

[2016-04-13 04:01] pavankumarkatakam opened #95 "Struck at loading page"
Hi , im trying to build android app mainly for push notification, after building the app i got 4 apk's , I have installed them manually through USB, but when opening it is strucking at loading page after given the server url. Here is screenshot
![screenshot_20160413-091823](https://cloud.githubusercontent.com/assets/6078669/14482440/738090e2-015a-11e6-82ed-c0b47a868682.png)

[2016-04-13 15:57] Martinspire commented on #20
@Morgy93 no problem, just put it in a github repo (fork, branch or create new) so people can take a look and try it out. I would imagine it doesn't take a lot of work or that it probably doesn't have any major issues but its the little ones that are easy to miss but quickly found if people can try it out easily.

Perhaps even create an executable for people to load or sideload would be fine as wel

[2016-04-13 15:57] #20 closed

[2016-04-18 03:46] knvpk commented on #95
Is anybody there?

[2016-04-19 19:30] mprentic-harris commented on #46
I don't see any way to switch servers on 2.3.1. :(
Ah, finally found the 2 finger swipe up to open the dialog. Very unintuitive.

[2016-04-21 05:58] TheReal1604 opened #97 "Menu sites are empty on first opening"
Hey Guys,

my Rocket.Chat server version is 0.27.0.

I am experiencing some issues with the menus (notifications, uploaded files..) in the sidebar of all chats in the mobile app. Then I open the menu the first time the menu is complete empty. Only then I close the menu and open it again, all is displayed fine.

Here are some screenshots:

Issue:
![](http://i.imgur.com/ETOqDZH.jpg)
![](http://i.img

[2016-04-21 19:03] taitruong opened #98 "Permalink doesn't work"
Installed today version 2.3.1 and copying a message's URL doesn't work. When pasting the URL e.g. into the browser I have still the text previously stored into the clipboard. The Linux client works fine.

[2016-04-21 19:04] taitruong opened #99 "Opening a permalink opens the URL in a browser instead of displaying it in the app."
In a channe l have pasted the URL referring to another channel. When opening it, it is shown on my browser.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/33203818-opening-a-permalink-opens-the-url-in-a-browser-instead-of-displaying-it-in-the-app?utm_campaign=plugin&utm_content=tracker%2F21834450&utm_medium=issues&utm_source=github)

[2016-04-25 06:21] TheReal1604 opened #100 "App is crashing if there are to much YouTube previews"
Good Morning Guys,

my rocket.chat Server Version is 0.27.0. I am using the latest mobile app. I have a channel there my bot is posting the actual YouTube videos of a channel. I got around 15-20 Videos in the channel. Then I opening these channel in my mobile app, the app is trying to load these previews and is crashing all the time..
Greets
TheReal
## <bountysource-plugin>

Want to back this issu

[2016-04-25 08:37] klatys commented on #94
Fixed with v0.27

[2016-04-25 08:37] #94 closed

[2016-04-25 14:39] rebeld opened #101 "Search: Jump to post sporadic/not working in iOS"
Rocket.Chat version: 0.27.0
iOS app version: 2.3.1

I'm not sure if this is a Rocket.Chat or Cordova specific issue, and I can only test on iOS.

When using search jumping to a specific post seems spotty. On my iPhone it doesn't seem to work at all. On my iPad it works for the first post tapped on, but not on subsequent ones.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on

[2016-04-25 20:32] geekgonecrazy commented on #101
@rebeld this should work as of Server version 0.28.0 was fixed in https://github.com/RocketChat/Rocket.Chat/commit/b813ec8f30a9d38375d0f3da68c6321c1c63a709

[2016-04-25 20:32] #101 closed

[2016-04-25 20:35] geekgonecrazy commented on #99
this should be fixed via https://github.com/RocketChat/Rocket.Chat/pull/3005 and will be in 0.28.0 of the server.

[2016-04-25 20:35] #99 closed

[2016-04-25 20:36] geekgonecrazy commented on #98
What mobile client are you on?

[2016-04-25 20:37] geekgonecrazy commented on #46
@mprentic-harris yeah we only display how to one place.  Suggestions on improving?

[2016-04-25 20:40] geekgonecrazy commented on #95
Drop the debug one on your phone and then check your logs via adb.  Should be some output there.  Or open chrome and goto: chrome://inspect/#devices the app should show there.  Check the console logs.  Between the two of those you should get something to tell you why it can't connect

[2016-04-25 20:42] geekgonecrazy commented on #60
@AJ-Acevedo or on Android via a similar method.  I believe intents

[2016-04-25 20:55] taitruong commented on #98
On my Android I have installed Rocket.Chat 2.3.1 from the playstore.

[2016-04-29 05:29] Micjoyce opened #103 "What method can make rocket.Chat.Cordova and rocket.chat Compile together?"
I want to compile a apk point to my own deployment server code, I want to start my server address set up, and make rocket.chat program code compiled in the apk (I don't want users to download apk installed it and also need an update operation), the idea can be implemented?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/33450363-what

[2016-05-02 16:08] BackIsBachus opened #104 "Add Rocket.Chat Android app on the F-Droid FOSS catalogue"
Hello,

Since Rocket.Chat and the Rocket.Chat app are Free and Open Source Softwares could you consider putting the Android app on [F-Droid](https://f-droid.org/), a catalog for FOSS applications on Android. It would allow those who do not wish to not use (or as little as possible) the services from Google (here the Play Store) to easily have access to the Rocket.Chat Android app.

Since the app i

[2016-05-02 16:46] maxsdw opened #105 "Warning alert each time updating the web client version or on re-build."
Every time the web client version is updated or on re-builds, this alert starts appearing:

**Warning**

The URL configured in your server
(https://...) is not
the same that you are using here

Right now the only solution is re-installing the app in the device.

[2016-05-05 02:40] geekgonecrazy commented on #104
@BackIsBachus do you have any info on submitting to F-Droid and if there are any api's we could use to automate this as part of our build process?  The easier it is for us to automate, the more likely it is that we will include it :smile:

[2016-05-05 02:44] geekgonecrazy commented on #103
You'll need to add your server in to the server list so its joined by default.  We leave this up to you to implement as you wish.  This code backs our app in the app store which is always going to be multi server, so it doesn't need to connect to one single server.

[2016-05-05 02:44] #103 closed

[2016-05-06 08:11] ghost commented on #104
I'm nor very knowledgeable about how works F-Droid but from what I read it seems that you have to submit your app before it is accepted into the catalogue. You can do that by posting it [here](https://f-droid.org/forums/forum/submission-queue/) or if you can and want to speed up the process directly follow the instruction [here](https://gitlab.com/fdroid/fdroiddata/blob/master/CONTRIBUTING.md#merg

[2016-05-11 07:18] ninetiger99 opened #106 "ios share support"
Many other ios app support share feature.

 For example, If i using safari browser and click share button, then modal window appear. It contains many app with support share feature.

Please add this feature.

[2016-05-11 17:31] geekgonecrazy commented on #106
Adjusted title, we should for sure make this possible with both IOS and Android

[2016-05-11 18:18] Burstaholic commented on #106
Already supported on Android :sunglasses:

(I don't know Swift or Objective-C though)

[2016-05-11 18:25] creatorKoo commented on #106
I adjust my title.
Anyone check confirm to share feature support on android?

[2016-05-11 20:38] geekgonecrazy commented on #106
@Burstaholic ah yes you did add this incoming.

I wonder though... seems like we should have out going as well.  This is actually what I was incorrectly thinking when I changed the title :grin:

[2016-05-12 01:37] geekgonecrazy opened #107 "Sounds not working on mobile"
https://github.com/apache/cordova-plugin-media
http://stackoverflow.com/questions/22515699/play-sound-on-phonegap-app-for-android

Copied from https://github.com/RocketChat/Rocket.Chat/issues/497

Need to verify this is still an issue.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34144381-sounds-not-working-on-mobile?utm_campaign=

[2016-05-12 14:55] engelgabriel commented on #105
iOS or Android?

[2016-05-12 14:56] maxsdw commented on #105
Both.

[2016-05-12 16:06] engelgabriel commented on #105
About when you access our demo server?

[2016-05-12 16:24] dblessing opened #108 "Stuck on 'Waiting for server connection'"
Potentially at some point in the past I entered an incorrect server URL in the iOS app. Now when I open Rocket Chat I get a screen with a white bar in the middle and the 'Waiting for server connection' at the top with an exponential back off for reconnecting.

There is no way I can see to stop this action and get back to where I can enter a proper URL. I've even tried killing the app and re-openin

[2016-05-12 16:25] engelgabriel commented on #108
Can you delete the app and install again? Not ideal.. but just a quick fix for now.

[2016-05-12 16:26] rebeld commented on #105
I've seen something similar with my users if they don't explicitly use '**https://**ourchatserver.com' as their url when they configure their mobile apps (i.e: they just use ourchatserver.com, or '**http://**ourchatserver.com'). They also tend to see some weird behaviour (i.e: the user tagging list when typing '@something' doesn't render correctly) Deleting the server and recreating seems to remov

[2016-05-12 16:38] dblessing commented on #108
That works. Thanks @engelgabriel

[2016-05-12 17:32] geekgonecrazy commented on #105
@rebeld by delete server you mean just removing it on the mobile app right?  Just want to make sure you aren't having to re-install the server :smile:

[2016-05-12 18:18] engelgabriel commented on #105
Delete SERVER form the SERVER LIST on the mobile :)

[2016-05-12 18:24] rebeld commented on #105
Yes, what @engelgabriel said. Definitely not delete our server install ;)

[2016-05-12 21:28] 123Haynes commented on #108
I had the same issue with the android app.

[2016-05-12 21:32] geekgonecrazy commented on #105
@rebeld I thought so.  I just wanted to make sure!  😆

[2016-05-13 14:48] maxsdw commented on #105
Gabriel, We are accessing our own server where we have an instance of RC.

[2016-05-13 20:55] geekgonecrazy commented on #105
@maxsdw but when you connect are you specifying exactly https://yoursite ?  or http://yoursite ?

[2016-05-14 15:43] maxsdw commented on #105
yes, in all cases, we always use **https://...**

[2016-05-14 18:13] geekgonecrazy commented on #105
@maxsdw ok just wanted to make sure as that was the resolution for some.  I thought I had asked you when we talked a few days ago.  But I couldn't remember :smile:

[2016-05-16 23:02] xenithorb commented on #104
+1

Very much would like to see this please. Or on Aptoide. I don't use Google services, except GCM through microG GmsCore (floss gcm connector)

[2016-05-17 14:33] engelgabriel opened #109 "Release the sound channel on iOS after alert"
Music should resume after playing sounds

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34314131-release-the-sound-channel-on-ios-after-alert?utm_campaign=plugin&utm_content=tracker%2F21834450&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tr

[2016-05-17 14:37] graywolf336 commented on #109
This happens on Android as well

On Tue, May 17, 2016, 9:33 AM Gabriel Engel notifications@github.com
wrote:

[2016-05-22 16:11] xenithorb opened #110 "Gathering push notification information from RocketChat server"
Could the client be written in such a way that instead of having to edit the APK, to include the GCM project number, it consumes that from the server when downloading all the other files?

If we're setting it in the server already, why not transmit that number and use it instead of having to edit the client application?

The current instructions are to:

Yet, we're already setting that server-side

[2016-05-24 20:21] maxsdw commented on #105
Do you know what part of the code is generating that alert? so maybe I can just comment-out that part in order to prevent that alert appearing.

[2016-05-25 20:02] geekgonecrazy commented on #110
@xenithorb possibly.. Only problem is, I don't think we can pull this off for iOS as well.

[2016-05-25 20:11] xenithorb commented on #110
I understand as much, but for servers like mine where I have chosen not to support iOS anyway, it would be nice to be able to support a more private GCM push messaging without it going through RocketChat's gateway.

As it stands now I think because of the way the docs are written, I think people misunderstand that you need an API key for GCM to work, without realizing that it all goes through your

[2016-05-25 20:27] xenithorb commented on #110
Some distilled points, the way I understand it is:
1. If you want people to be able to download and update the app via Google Play (i.e. installing normally) you are forced to use the push gateway https://rocket.chat, because that is the server the google play version is configured for.
2. If you choose to use your own API keys for GCM, you must re-package the app with the changed information and

[2016-05-25 21:44] geekgonecrazy commented on #110
I get what you are saying.  Probably pretty doable.

From an app we distribute though, we have to think of both platforms.  We can't just cater to Android because its possible.  People then will expect it to work with iOS and it won't.

So this will not solve anything for people.

The push gateway is setup by default for both iOS and Android. From your server you can turn it off if you do not wish

[2016-05-25 21:54] xenithorb commented on #110
I don't see it being a problem with people assuming it will work for iOS if it's a specific checkbox you need to hit underneath the GCM options on the server.

You could also clearly label it with information like "Note: does not affect iOS push settings"

Why not use the GCM settings if available, and continue to send to the gateway for iOS devices?

In my particular case I have a much larger sub

[2016-05-25 22:24] geekgonecrazy opened #111 "Ability to see who reacted on mobile"
We can't hover so we need to be able to handle and display who reacted on a message

[2016-05-25 22:38] geekgonecrazy opened #112 "Improve battery usage"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34580935-improve-battery-usage?utm_campaign=plugin&utm_content=tracker%2F21834450&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F21834450&utm_medium=issues&utm_source=github).
</bountyso

[2016-05-31 12:43] Artgit opened #113 "Please install ImageMagick issue"
I'm trying to execute following command:

`cordova prepare`

and got following issue:

[code]

I have installed ImageMagick on my Windows 10 machine http://www.imagemagick.org/script/binary-releases.php#windows and added it to PATH variable.

What am I doing wrong and how to correctly  install ImageMagick ?
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bou

[2016-06-04 21:01] geekgonecrazy commented on #113
I've never been able to successfully do it on windows.

`ticons` is the package that's using imagemagick.  Might be worth checking their repo out.

[2016-06-04 21:03] geekgonecrazy commented on #84
Just the files located there in the image folder

https://github.com/RocketChat/Rocket.Chat.Cordova/blob/develop/hooks/beforePrepare.js#L29

A good place to look.

[2016-06-04 21:03] #84 closed

[2016-06-04 21:05] #76 closed

[2016-06-04 21:07] geekgonecrazy commented on #66
Please reach out on our demo for this support request.

[2016-06-04 21:07] #56 closed

[2016-06-04 21:08] geekgonecrazy commented on #58
If still having this issue please reach out in the #support channel on our demo server.

[2016-06-04 21:08] #58 closed

[2016-06-04 21:10] geekgonecrazy commented on #7
@Sing-Li This works on Android, does it work on iOS?

[2016-06-04 21:11] geekgonecrazy commented on #30
#114 will close this.

[2016-06-04 21:14] geekgonecrazy commented on #55
@yarons A lot of work has been done on the RTL support.  This should be resolved.  Please let me know if it hasn't

[2016-06-04 21:14] #55 closed

[2016-06-04 22:44] geekgonecrazy commented on #109
Dupe #73

[2016-06-04 22:44] #109 closed

[2016-06-04 22:47] geekgonecrazy commented on #107
Seems like this isn't an issue...

[2016-06-04 22:47] #107 closed

[2016-06-07 06:04] mashedkeyboard opened #115 "Can't compile on Windows"
ImageMagick, `rm -rf`, and a bunch of other build commands for this fail if you're compiling in the Windows Cordova CLI. Was trying to make a port to Windows Universal, but kept failing because the code doesn't seem to like Windows commands very much. Replaced `rm -rf` with `del /s`, but then it kept failing on ImageMagick, and if that's removed it doesn't seem to build at all. :/

[2016-06-07 16:10] frdmn opened #116 "Change "esc to cancel" for mobile users"
... since they dont have a <kbd>ESC</kbd> key

[2016-06-07 16:10] frdmn commented on #116
![img_1916](https://cloud.githubusercontent.com/assets/944459/15865470/2a7cfa5a-2cdb-11e6-85b3-d0eeaa123c02.jpg)

[2016-06-07 17:07] TheReal1604 commented on #112
If you can improve the battery usage, this would be really nice.

On iOS i have a battery usage around 10% with normal usage, on a nexus 5 android 6 device, the battery usage is around 40% to 60% thats way to much..

[2016-06-07 22:09] geekgonecrazy commented on #112
@TheReal1604 Can you take a couple of screenshots of this?  Mainly will be useful to know what change in network conditions etc happened.

[2016-06-08 04:27] TheReal1604 commented on #112
Hello Aaron,

did you need an exact view? I can send you some battery consumption screenshots from  android settings this afternoon.. Is that fine?

Am 08.06.2016 um 00:11 schrieb Aaron Ogle <notifications@github.com<mailto:notifications@github.com>>:

@TheReal1604https://github.com/TheReal1604 Can you take a couple of screenshots of this? Mainly will be useful to know what change in network condi

[2016-06-08 08:41] TheReal1604 commented on #112
Hello Aaron,

when i look at my reverse proxy i see some crazy get requests from only this android device, the URL is deformed..

The requests look like this:

192.2.213.63- - [08/Jun/2016:10:37:42 +0200] "GET /_timesync HTTP/1.1" 200 695 "http://httpsyourdomainde.meteor.local/direct/test" "Mozilla/5.0 (Linux; Android 6.0.1; Nexus 5 Build/MOB30H) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/44.0.

[2016-06-08 14:25] geekgonecrazy commented on #112
@thereal1604 this is due to the caching. It is pretty weird request made it to your nginx.

Do you happen to have one of the network connectivity during that time period as well.

Mainly want to make sure usage isn't so high because of a lot of network changing

[2016-06-10 07:32] aison45 commented on #113
install whit all options select

[2016-06-10 07:32] vectorez commented on #113
@Artgit install whit all options select

[2016-06-10 08:40] TheReal1604 commented on #112
Did you need more information / logs / screenshots? I think we really need to improve this.

@geekgonecrazy Did you have an idea what causes this malformed requests? Should i create an additional issue?

[2016-06-10 22:43] geekgonecrazy commented on #112
@TheReal1604 if you tap on Rocket.Chat it should give you more information.  The information inside there is what's more useful. :smile:

[2016-06-12 07:00] TheReal1604 commented on #112
@geekgonecrazy ![photo-2016-06-12-08-43-21_3279](https://cloud.githubusercontent.com/assets/5877910/15989628/2617c860-307c-11e6-94af-40fd704d4aca.PNG)

[2016-06-12 11:14] Morgy93 commented on #115
I already got this running using Visual Studio 2015 - so basically it does work.
Maybe the former thread is of any help: https://github.com/RocketChat/Rocket.Chat.Cordova/issues/20

[2016-06-12 11:23] Morgy93 commented on #115
You may now just clone this one: https://github.com/Morgy93/Rocket.Chat.Cordova/tree/visualstudio

[2016-06-15 13:41] TheReal1604 commented on #112
Some more screenshots...

![screenshot_20160615-153801](https://cloud.githubusercontent.com/assets/5877910/16081833/8d4179f6-330f-11e6-9b8f-58cb0f7f80a9.png)
![screenshot_20160615-153808](https://cloud.githubusercontent.com/assets/5877910/16081834/8d4270fe-330f-11e6-9f19-9be3c8310967.png)

[2016-06-15 14:29] frdmn commented on #112
/cc @geekgonecrazy - Regarding the malformed requests:

I just found this: https://github.com/RocketChat/Rocket.Chat.Cordova/blob/787bef577d3155c1eaa2a6b663dfd2e83a28f87d/www/coffee/servers.coffee#L437

Not really sure what it does exactly and why, but it seems like it's the place where said "weird" URL is put together.

Edit: fixed link

[2016-06-16 19:10] geekgonecrazy commented on #112
@frdmn interesting.  I wasn't aware of malformed requests on mobile.  I know on electron we have some with jitsi.

@TheReal1604 Just out of curiousity do you have the app open frequently or leave it up when you let the screen timeout?  Because it does look to be using a lot of network traffic.  Way more then I normally see even on mine.

Also do you know if your server is using websockets to conne

[2016-06-16 19:24] TheReal1604 commented on #112
@geekgonecrazy Yes, the app is used exactly the way you described by my girlfriend, from her android nexus 5 are the screenshots. She is using this now in another way (lock the screen immediately after using the app.) Thats a little bit better than before.

Sry, i don´t know if its using web sockets, can you please explain how i can look what i am using? I use the docker container on my ubuntu ser

[2016-06-18 07:42] wohali commented on #104
@geekgonecrazy Here's the walkthrough of [how to add a new app to F-Droid](https://gitlab.com/fdroid/fdroiddata/blob/master/CONTRIBUTING.md). Here are their [requirements for an app to be accepted](https://f-droid.org/wiki/page/Inclusion_How-To). As previously mentioned you meet the Licensing requirements, and I don't think you use any closed-source binary blobs that they would reject.

Note, you

[2016-06-23 17:19] nbaum commented on #25
It's happening for me right now on the current beta download.

[2016-06-24 16:21] geekgonecrazy commented on #25
@nbaum do you still have this?  Which beta download are you referring to?

[2016-06-24 16:41] nbaum commented on #25
It was the beta download of the server, from https://rocket.chat/releases/develop/download, along with whatever version of the Android app would have been in the Google Play store yesterday!

I've switched back to the stable build of the server and am not seeing this problem in that version. Perhaps there is a version incompatibility between server and client?

[2016-06-25 02:43] geekgonecrazy commented on #104
@wohali thanks for the info!  I didn't realize F-Droid worked this way.  Reminds me a bit of Gentoo and other Linux distros :)

[2016-06-25 03:10] geekgonecrazy commented on #112
@TheReal1604 so let me get this straight...
- Locking screen with app still up -- Better performance
- Switching to home screen and then locking -- worse performance?

Can you check if apache2 reverse proxy is forwarding websockets?  I don't think it does with out special configuration.  To check open chrome or firefox to your chat.  Open the developer console (ctrl+shift+I) then goto the network

[2016-06-25 04:54] TheReal1604 commented on #112
Hey Aaron,

yep, it's like you said.  I searched for Apache 2.4 and proxying web sockets, I don't have the mod_proxy_wstunnel enabled. So, that's the next step that should I go. I look for some documentation, setup this and then give you feedback if it's better now.

[2016-06-25 05:22] geekgonecrazy commented on #112
@thereal1604 I suspect much better performance.  Though I know we have room for improvements.

Feel free to create a doc in our documentation for enabling this for apache2.  I'm sure it'd be useful for many others like your self

[2016-06-25 05:25] TheReal1604 commented on #112
The funny thing is, it is already in your docs.

https://rocket.chat/docs/installation/manual-installation/configuring-ssl-reverse-proxy-with-nginx

At the end... ;-)

[2016-06-25 05:50] geekgonecrazy commented on #112
👍 let me know how the battery usage changes

[2016-06-25 17:12] neohitokiri opened #117 "Steps to upgrade the server application."
What are the steps that must be performed to update the application?, recompile and overwriting files?. I have installed the version "0.28.0" and I want to upload it to the "0.34.0".

I want to minimize the possibility of incidents occurring. How I can make a backup of the database and files related to the current deployment ?.

I am using **Windows Server 2012 R2**, the steps I followed to the cu

[2016-06-25 17:40] geekgonecrazy commented on #117
@neohitokiri this issue tracker is for the mobile app.  You're more likely to get a response on how to update on the server repo: https://github.com/rocketchat/rocket.chat/issues in our [#support](https://demo.rocket.chat/channel/support) channel.

Mobile support does not work currently in the windows build: https://github.com/RocketChat/Rocket.Chat/issues/3631

[2016-06-25 17:44] #117 closed

[2016-06-27 15:28] TheReal1604 commented on #112
@geekgonecrazy here are some news on this issue:

i have implemented the websocket functionality on the reverse proxy with this conf:

[code]

But there is not much improvement on the battery usage side:

![screenshot_27062016-1](https://cloud.githubusercontent.com/assets/5877910/16385220/407a4a7c-3c8c-11e6-96fb-5e67e327c6cb.jpg)
![screenshot_27062016-2](https://cloud.githubusercontent.com/assets/

[2016-06-28 14:39] Syirrus opened #118 "Cannot Compile Rocket Chat Cordova"
Here is my cordova version information:
Cordova Version 6.2
Installed platforms:
  android 5.1.1
  ios 3.9.2
Available platforms:
  amazon-fireos ~3.6.3 (deprecated)
  blackberry10 ~3.8.0
  browser ~4.1.0
  firefoxos ~3.6.3
  osx ~4.0.1
  webos ~3.7.0

<img width="788" alt="sdk" src="https://cloud.githubusercontent.com/assets/138841/16419556/71c72b3c-3d4e-11e6-9d68-b5a84a59bde6.png">

When I run "

[2016-06-29 16:41] engelgabriel commented on #1
@rodrigok has this been fixed?

[2016-07-05 08:21] gotev commented on #118
I had the same issue. Probabily Google has changed something in their latest GooglePlus and CloudMessaging artifacts, which breaks compatibility. I'm going to explain how I've fixed it.

### Manual substitution

Edit `plugins/cordova-plugin-googleplus/plugin.xml`

and change

[code]

to

[code]

Edit `plugins/phonegap-plugin-push/plugin.xml`

and change

[code]

to

[code]

### Automated substitut

[2016-07-05 12:30] Syirrus commented on #118
The solution that @gotev offered works like a charm. Thank you so much for taking the time to post this. Any of us who were trying to compile for Android were dead in the water

[2016-07-06 07:51] Micjoyce commented on #1
similar problem!  has this been fixed?

[2016-07-06 14:29] rodrigok commented on #118
Awesome, can we close this issue?

[2016-07-06 15:45] gotev commented on #118
[The fix](https://github.com/phonegap/phonegap-plugin-push/pull/1044) for `phonegap-plugin-push` has been merged. Waiting for `cordova-plugin-googleplus`. Theoretically, if the pull request gets merged, the solution I've proposed will no longer be necessary to build. However, in my opinion, this issue can be closed.

[2016-07-06 16:19] leolara commented on #113
I am having the same issue in Mac, how did you solve it?

[2016-07-06 18:46] #118 closed

[2016-07-06 18:47] rodrigok commented on #1
I don't think so. May some one can open a new PR to fix this 😄 ?

[2016-07-07 12:51] craighton opened #120 "Back Button Usage on Android"
Enabling back button usage on Android version

[2016-07-09 10:53] leolara commented on #113
I solved it running `brew install imagemagick`

The error message is confusing, because you do not know if it means to install a cordova plugin, a npm package or in the build system.

[2016-07-09 17:01] TheReal1604 commented on #112
I think we really need a solution for this. This is an absolute showstopper for our android users. Some experience from other Admins would be really nice! Because it could be an issue with my environment.. But don't know what to change.

 ¯_(ツ)_/¯

[2016-07-13 22:30] dukemnm commented on #116
Hello @frdmn can you just delete the message using the back button? I wonder if this only shows on IOS?

[2016-07-14 18:20] TheReal1604 commented on #112
Got a temporary workaround for this with @Sing-Li help. Disabled background data usage for the rocket.chat app. Now it's working. The only disadvantage of this is, that the entire app is reloading when you open the app from background.

[2016-07-14 19:44] Sing-Li commented on #112
@TheReal1604   This is VERY valuable information.

For one thing, it CONFIRMS that network usage IN BACKGROUND is the culprit.  It gives us something concrete to go on in attempt to alleviate the problem.

Can you please measure and post the difference in power consumption with this kludge?   Thanks again.

[2016-07-14 21:43] coosamatt commented on #89
Same here...

[2016-07-15 06:22] TheReal1604 commented on #112
![shared_file](https://cloud.githubusercontent.com/assets/5877910/16865444/27eb4ede-4a65-11e6-9ab8-0d79f990eac3.png)

Thats the first screenshot.. will add the detail information later. My user said that the network interface is now only up around 9-10 minutes! Not 4 hours like in the other screenshots.

[2016-07-15 15:52] andricicezar commented on #108
I have same issue entering a local IP address.

[2016-07-18 02:05] geekgonecrazy commented on #112
@TheReal1604 btw 2% wouldn't really be considered high battery consumption.

[2016-07-18 02:08] geekgonecrazy commented on #116
Agreed this is an irritating bit of UI.  We need to make it more mobile friendly.

[2016-07-18 14:49] alfredbez commented on #53
see also: RocketChat/Rocket.Chat.Electron#144

[2016-07-19 05:08] graywolf336 commented on #112
For those following this thread, I have submitted a pull request which needs testing: https://github.com/RocketChat/Rocket.Chat/pull/3808

Basically we would be listening for when the application goes into the background so we can disconnect from the server and then when the application comes back into active we reconnect. I was only able to test it a tiny bit locally, so I'm hoping we can test us

[2016-07-19 13:31] TheReal1604 commented on #112
@graywolf336 Thats awesome, thanks that you create a solution for  this annoying issue.

Here is the other screenshot with details:
![shared 20file](https://cloud.githubusercontent.com/assets/5877910/16951560/d03660de-4dc5-11e6-8c6c-43aaa36384a3.png)

[2016-07-20 17:11] geekgonecrazy commented on #53
also for anyone interested in contribution a fix for this. Make sure to check out the changes added here: https://github.com/RocketChat/Rocket.Chat.Cordova/pull/114  with some tweaks that could work with regular basic auth

[2016-07-26 17:03] OnlineBoy opened #121 "video call problem"
hi
rocket chat android app don't have permission to access camera
so
how we can use video call?
it's just voice

how i can add this permission to this app?

[2016-07-27 21:22] soenkef commented on #121
Same here. Permissions for telephone are missing too. What can I Do?

[2016-07-30 12:06] OnlineBoy commented on #121
finaly
i did it!

i,ll uploud new apk file,if i can

[2016-07-30 22:27] herbsmn commented on #104
I see that you added a "help wanted" tag. Can you make a list of tasks that need accomplished in order for feature to be added so that we can help you out?

[2016-08-03 02:59] russcalderon commented on #38
@rodrigok how did you get this fixed? It is definately the biggest issue we have with iOS.

[2016-08-03 08:32] skemb321 opened #122 "Login with facebook"
Hi I have been trying to use FB Login, seems like it goes back to the splash screen after signing in to fb in a browser.

How did u manage to make it work?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/36634813-login-with-facebook?utm_campaign=plugin&utm_content=tracker%2F21834450&utm_medium=issues&utm_source=github)** We accept bo

[2016-08-03 10:37] alur222 commented on #122
Just to add, it happens to my custom build rocket.chat app (custom server). I tried cloning this repo again and loaded demo.rocket.chat, but it seems to work (it opens the facebook app on my phone).

Is there any configuration that I missed for my Customized RocketChat and RocketChatCordova? How did u setup you Facebook APP on facebook?

[2016-08-03 13:26] rodrigok commented on #38
@russcalderon What is your issue? Which version are you using of mobile and server? Do you receive notifications when you click to test?

[2016-08-03 19:06] russcalderon commented on #38
@rodrigok the rocketchat server ver. 0.35.0 and iOS 9.3.3. I do get the notifications just fine. We are just not able to get clear the 1 count message badge. If i exit the application it will clear it but them it will be ok until it gets stuck again. We are primarily iOS users but those with androids are clearing just fine.

[2016-08-04 20:03] graywolf336 commented on #121
@OnlineBoy If you don't mind submitting a pull request instead of uploading the apk, that would be fantastic.

[2016-08-05 04:29] russcalderon commented on #38
@Rodrigok you know actually issue #3618 is more relevant than this ticket, i have posted a comment on it.

[2016-08-05 08:27] #122 closed

[2016-08-07 23:31] OnlineBoy commented on #121
https://drive.google.com/file/d/0BwguOPjpBLbWX1Q1SFJpbXdHNXc/view?usp=sharing

this is my new apk file that have permission to access camera!
and u can use video call and video conference

 @graywolf336 sorry but its my first time on github
and i even dont know how i can submit a pull request

[2016-08-08 18:07] geekgonecrazy commented on #121
@OnlineBoy we can't make use of an apk.  We need the changes to be made to the source file so we can make future edits to it.  If we use your apk, next time we update the change would be gone.

So we need the change you made to the file that caused it to work.  👍

[2016-08-09 10:38] OnlineBoy commented on #121
@geekgonecrazy yes i understand
but i did not change the source file
this is what i do to create new apk

get your apk from PlayStore
decompile that using apktool(or [android multitool](https://drive.google.com/drive/u/0/folders/0B6-9-IIam8f-WFU5UTI2bTZVaE0))
edit the AndroidManifest.xml file and add this line in it
`<uses-permission android:name="android.permission.CAMERA"/>`
recompile and build

[2016-08-13 21:13] barracks510 opened #123 "Does not respond to redirects"
App shows server error instead of following 302 or 301 redirects.

[2016-08-15 16:46] maxlinux2000 commented on #120
I think that the problem come from cordova-plugin-crosswalk-webview that conflict with inappbrowser

Try to update to 1.8.0

$ cordova plugin remove cordova-plugin-crosswalk-webview
$ cordova plugin add cordova-plugin-crosswalk-webview

with
$ cordova plugin list you need to have
$ cordova-plugin-crosswalk-webview 1.8.0 "Crosswalk WebView **Engine**

and if you need to update the hook

$ cordova p

[2016-08-15 16:59] maxlinux2000 commented on #75
please check if there are spaces in the android_sender_id.js and budsnag_apikeys.js.

then logout from any sessions from the computer and mobile, and after 5 minutes, login with mobile and in a channel write "@other-user-account: Hello!!"

in a few seconds should ring the push notification in the other-user mobile

[2016-08-15 17:26] maxlinux2000 opened #124 "Video upload in the chat"
I found a bug attaching video (mp4) to RC from mobile with RocketChat.cordova.

Step to reproduce:
1. press the clip and select the camera
2. record some seconds of video then press stop an confirm the upload.

Result:
a. in the preview window I can't see the video
b. Pressing OK the mp4 video will be uploaded, but in the chat I can see only a black box and I can't reproduce it.

Now open RC in a

[2016-08-18 03:26] geekgonecrazy commented on #123
Is this a case where you are forwarding http -> https?

[2016-08-18 14:37] maxlinux2000 commented on #121
in theory the permissions in cordova will be set automatically from the plugins, but something was wrong with this proj, so we can add the permissions in the config.xml using this plugin:

`cordova plugin add cordova-custom-config
`

and as write here:
https://github.com/dpa99c/cordova-custom-config-example/blob/master/config.xml

[code]

[2016-08-18 16:10] maxlinux2000 opened #125 "build error after upgrade sdk android"
today after upgrade the android sdk and a fresh Rocket.chat.cordova I have this error doing "cordova run android"

BUILD FAILED

Total time: 7.681 secs
Error: Error code 1 for command: /home/max/Rocket.Chat.Cordova/platforms/android/gradlew with args: cdvBuildDebug,-b,/home/max/Rocket.Chat.Cordova/platforms/android/build.gradle,-Dorg.gradle.daemon=true,-Pandroid.useDeprecatedNdk=true

Here my SDK

[2016-08-18 16:15] geekgonecrazy commented on #121
Would either of you be willing to drop that in a Pull Request?

[2016-08-18 16:45] geekgonecrazy commented on #104
@herbsmn from my understanding the big piece we don't have that we need to be listed... We need an F-DROID build script to compile the app.

[2016-08-19 05:07] TheReal1604 opened #126 "After update the app is stuck at loading screen"
Hey Guys,

after the update from the AppStore and google play store the app is stuck in the Loading screen. "Loading chat.domain.com".

After a reinstall of the app all is working fine.

I use the 0.37.0 on the server side.. Today I try the update to 0.37.1 and ask my users if this happens also on this..

Any suggestions?

Greetings TheReal

<bountysource-plugin>
---
Want to back this issue? **[Po

[2016-08-23 10:24] TheReal1604 opened #127 "Only locate user if he uses the geolocation post button"
Hey Guys,

after the update that was yesterday / today release I found that the GPS seems active all the time when the users use the RC app. This is represented by the gps icon in the right corner. You see this in the screenshot.

In my opinion this could lead to battery issues then heavy using this app. A possible solution could be to only locate the user if he press the button and then show the

[2016-08-23 18:22] rodrigok commented on #127
Hi @TheReal1604, we keep tracking geo to have a very quick dialog to send geo when you click on button.

Maybe we should add an condition to get geo on click for mobile and keep tracking on desktop.

The code should check the position 1 time in each 10 seconds as you can see [here](https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-ui-message/message/messageBox.coffee?ts=2#

[2016-08-23 18:24] rodrigok commented on #126
@TheReal1604 can you test with latest version of mobile apps (2.4.0)?

[2016-08-23 18:25] TheReal1604 commented on #126
@rodrigok After the new update all is fine :+1:

[2016-08-23 18:25] #126 closed

[2016-08-24 05:24] TheReal1604 opened #128 "After update, Geolocation post button is missing on android"
Hey Guys,

for iOS devices the update was very straightforward all is working like a charm. After the update on android devices I see that the geolocation button is missing. The permission to locate the user from RC is enabled.

![](http://i.imgur.com/Qcg28GU.jpg)

There is only the mic record button.

Greetings
TheReal

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](h

[2016-08-24 05:26] geekgonecrazy commented on #128
When you started the application did you hit allow or deny when it asked for your location?

[2016-08-24 05:32] TheReal1604 commented on #128
The User deactivated the Geolocation lookup globally in the android system. After enabling this, all is working like a charm. Thanks for that!

[2016-08-24 05:53] #128 closed

[2016-08-24 05:54] TheReal1604 commented on #128
@geekgonecrazy We hit allow ;-) but.. See above. You're amazing fast. :D

[2016-08-24 05:59] TheReal1604 commented on #127
@rodrigok Thanks for the explanation. But it's not a good idea to locate the user before he uses this function.. Can establish distrust to the server admin or to the developers. ala "What the heck? Why keeps this app locating me because I don't use this feature." Okay, every user can deactivate the right to locate, but then he loses the ability to use this nice feature at all. IMHO.

[2016-08-24 06:01] geekgonecrazy commented on #128
Good deal!  :smile:

[2016-08-25 20:02] #112 closed

[2016-08-26 23:11] herbsmn commented on #104
@geekgonecrazy

"The F-Droid server does not directly publish an APK online, instead the F-Droid server needs a buildable source to build an APK from. This way the server guarantees that the resulting APK accurately represents the source code without any hidden anti-features." https://f-droid.org/wiki/page/Inclusion_How-To

From what I understand, F-Droid needs your buildable source, instead of th

[2016-08-30 09:49] Micjoyce commented on #125
@maxlinux2000  did you fixed this problem?

[2016-09-01 09:19] bharatpatel2005 opened #129 "Not connect with local development server."
my local development Rocket.Chat server version is 0.37.1 (latest) and my cordova app also latest from github.

but in mobile app not connect to server, like #72 , #80 ,

and @rodrigok, also try and test https://github.com/RocketChat/Rocket.Chat.Cordova#i-cant-connect-to-my-server-instance, but still not connect.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://

[2016-09-03 02:59] valessiobrito commented on #104
+1

[2016-09-04 06:14] dukemnm commented on #110
Question, if I compile the android app or maybe even the iOS APP how does branding get affected?
 do i need to rename the app before uploading to itunes or android market?

[2016-09-04 08:23] TheReal1604 commented on #110
@xenithorb I have talked some days before you created this issue with Diego about this. He give us a third solution. -> setup your own push gateway and enter the URL in RC. This could be a helpful thing: https://github.com/Smile-SA/node-pushserver (without reinventing the wheel.)
Let's take a private chat at the Demo server about this if you like. (TheReal-1)

[2016-09-04 09:29] telmich opened #130 "Slow start/restart/coming from background"
Hello!

I am using RocketChat android application and it start slowly.
If the app gets to background when I want it again in front then it
acts as it connects and fetches everything again, like when you start it for first time,
the only difference is that it does not ask for login and password.
So, when I use app and I am writing a message, and I want to see something on, for example, web I have t

[2016-09-04 09:29] telmich commented on #130
Thanks for the update, @graywolf336!

[2016-09-06 22:23] herbsmn commented on #104
hello?

[2016-09-08 03:20] superSp commented on #78
how to solve it ? ..my camera is black.. what permission shoud i add ?~~~~  e....i think my permission have  geted,but my camera always black, how to solve it ...

[2016-09-09 01:33] geekgonecrazy commented on #104
@herbsmn we haven't had the extra time to look into doing this currently.  We do post apk's with every release.  So we make it possible to get by with out Google Play.

Thanks for your continued patience :smile:

[2016-09-09 03:42] herbsmn commented on #104
thanks for the response @geekgonecrazy. i started this thread on the forums: https://f-droid.org/forums/topic/rocket-chat-cordova/

[2016-09-09 14:05] jlebras commented on #113
I've been able to successfully build (and obviously prepare) rocket chat on Windows 10.

The problem here is that the version 7 of ImageMagick  does not provide executables like convert, identify, etc...
They become subcommands of the magick command (i.e magick identify...).

To my understanding, when using `cordova prepare`, some hook is called to generate icons with the help of the `ticons` node

[2016-09-12 10:15] derekblankmccoy opened #132 "No notification sound"
The Android App doesn't seem to make a sound when a push notification comes through.
It's expected that the app should just use the default notification sound.

The iOS version does play the default notification sound set in settings.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/37789441-no-notification-sound?utm_campaign=plugin&ut

[2016-09-12 10:39] derekblankmccoy opened #133 "Option to log out of current server and sign into different server"
Currently, the only way to do this is to clear the app data on Android or uninstall and reinstall on iOS.

[2016-09-12 14:45] geekgonecrazy commented on #133
@derekblankmccoy When you first join a server, notice the text below the server input field. You can use a two finger swipe up, delete the current server and add a new one from the same menu.

Also two finger swipe up and you can switch between multiple servers.

[2016-09-12 14:49] drkmccy commented on #133
Thanks, This is not obvious at all. I remember starting to read the red text but it went by so quick I didn't finish reading it. Even if I did read it, I would have forgotten. There should be a button or something more blatant. But at least the functionality is there which is the point.

[2016-09-13 08:28] Molle500 opened #134 "Add texts to Lingohub"
Would be nice if you could add the texts to lingohub so we can translate them to other languages. Right now it's kinda weird that the start is in english but inside the app everything is in our language. The texts that i know atleast, i might have missed some but...

[code]
[code]
[code]

These texts would be really nice if you could add

[2016-09-13 12:20] jpVm5jYYRE1VIKL opened #135 "Application Extremely Slow"
Rocket Chat app working very slow in IPhone or Ipad.
Downloaded using link https://geo.itunes.apple.com/us/app/rocket.chat/id1028869439?mt=8
Issue 1. If you type message letters appear with delay. I think it can be binded with auto-completion which not possible to disable.
Issue 2. If you finished typing and lock your iphone or ipad(to blank screen). After you unlock screen again and focus to appl

[2016-09-14 01:07] geekgonecrazy commented on #135
Can you divide into multiple issues?  All being in one issue is hard for us to find and address.

[2016-09-15 13:00] amiryal commented on #104
Others already mentioned [fdroiddata/CONTRIBUTING.md](https://gitlab.com/fdroid/fdroiddata/blob/master/CONTRIBUTING.md). I would just like to add that following it would not only speed the process up a bit, but in my experience is a **sure way** of getting it in **as fast as possible**.

[2016-09-15 19:13] geekgonecrazy commented on #104
What do users that download through F-Droid do for notifications?

[2016-09-15 19:18] xenithorb commented on #104
I use F-droid exclusively, it notifies you when there are new packages available in their repository. It checks their main repo by default at an interval specified from within the app. F-Droid app do not update automatically, yet, due to certain system permission limitations, but they do provide a notification for when there is an updated package.

I assume challenges are similar to building for f

[2016-09-15 19:20] geekgonecrazy commented on #104
Poor wording on my part.  😄

I meant like getting Push Notifications for the app.  I assume many F-Droid users are not going to make use of Google Play or Google Play Services?

But yes, there will for sure be those challenges with this as well

[2016-09-15 19:24] xenithorb commented on #104
Understood, on that front GCM is either not used or in my case, since I also use Signal where GCM is required, there is a FLOSS microG drop-in replacement for google services framework and friends.

https://microg.org

It's also a possibility that certain people will prefer to download certain apps through F-droid than other due to the nature of their open build system and trusting that process mo

[2016-09-15 19:26] amiryal commented on #104
Not being a mobile developer, my previous comment was written before I realised what Cordova is. My searching the net brought this project up: [turtl/fdroid](https://github.com/turtl/fdroid). This led me to the section in [turtl/mobile/Makefile](https://github.com/turtl/mobile/blob/0a28ba51b6b61ae25ee9a683c8d4deebc318b63c/Makefile):

[code]

Where `../fdroid` is where [turtl/fdroid](https://github

[2016-09-15 19:33] amiryal commented on #104
Slightly off-topic: I’m new to Rocket.Chat, so wasn’t expecting any notifications yet. I installed the Android app from the [releases page](https://github.com/RocketChat/Rocket.Chat.Cordova/releases) – does that use GCM?

Also, I’m using a self-hosted Rocket.Chat server – does _that_ use GCM for pushing notifications?

[2016-09-15 19:44] amiryal commented on #104
I believe that, in order to get accepted, the dependency on proprietary GCM will have to be removed in the project that gets submitted to fdroiddata.

[2016-09-15 19:52] xenithorb commented on #104
@amiryal

Yes and no.

The way it works by default if you use any of the published apps (instead of building your own) is that your server sends a notification to the push gateway @ https://rocket.chat, which then in turn sends it to GCM and therefore your app. This is because the distributed app has a hard-coded GCM id that points to the rocket.chat push gateway as indicated above.

The only way

[2016-09-15 19:57] xenithorb commented on #104
All proprietary software need be removed, yes.

[2016-09-15 20:32] herbsmn commented on #104
This issue came up with Signal. Someone wrote a fork that removed GCM push notifications are placed them with rudimentary WebSocket-ONLY support. https://github.com/JavaJens/TextSecure

[2016-09-15 20:43] xenithorb commented on #104
Right, but since that's not well maintained and doesn't work very well (and its forks and sister repos are harassed and legally threatened by Moxie himself) what most people do is use the repo @ http://eutopia.cz which also serves the websocket-only build but also the "LibreSignal build" that somehow still uses GCM.

It's a sad situation where google has cornered the market so deeply when it comes

[2016-09-15 22:58] geekgonecrazy commented on #104
I think its still an option on the table.

We're looking at:
- Letting Android pull GCM info from server.  But since server can have multiple servers... have to make sure app can register with multiple project ids.
- e2e encrypting the notifications, so that no data is ever seen by the gateway.  (In the interm you can disable sending of content in the push notification)
-  [ownpush](https://ownpus

[2016-09-16 10:30] Mte90 opened #136 "Url configured in your server is not the same"
I get that alert:
[code]
When i click ok in that alert i get this view without any chance to to something
![screenshot_20160916-122859](https://cloud.githubusercontent.com/assets/403283/18583167/6e2e3ce8-7bf8-11e6-8286-fe783e6dd768.png)
Also the url of the alert is right so I have no idea how to fix, I was thinking to reset the data of the app and configure again.

[2016-09-16 10:37] Mte90 commented on #136
Ok removing the data of the app and configure again now is working without problems.

[2016-09-16 18:17] geekgonecrazy commented on #136
@Mte90 alternatively next time.  Two finger swipe, hit delete by the server, and then add it again.

[2016-09-16 18:17] #136 closed

[2016-09-16 18:19] Mte90 commented on #136
well very easy to understand in the app XD maybe add instructions for it in that view simplify so much.

[2016-09-16 18:20] geekgonecrazy commented on #136
@Mte90 we have it on the initial server add screen.  We haven't been able to find a cleaner way with out making the UI look bad, or reduce screen space :(  Maybe we could add a pop up when the app first starts explaining how to manage connected servers.

[2016-09-16 18:50] Mte90 commented on #136
well i mean when i get that error and in that view where there is this empty label add the instruction that you written before will be the easiest solution

[2016-09-16 18:53] geekgonecrazy commented on #136
@Mte90 downside, is that alert is perfectly legit, and often things work just fine after that alert.  But I get your point.  Will investigate how we can add that.

[2016-09-22 08:21] alexgleason commented on #104
Hi all,

@ccwalker22 and I created an F-Droid repo that contains RocketChat. Feel free to use it in the interim while we wait for a more permanent solution.

[2016-09-22 18:56] TheReal1604 opened #137 "App displaying UI weird since iOS10"
Hey Guys,

since iOS 10 I get weird displaying issues in my rocket.chat app. It is caused mostly by reloading or reopening the app. It looks like in the screenshot attached. On the server side I use 0.40.1. Anyone has this issue also?

![](http://i.imgur.com/CwMvLRD.jpg)

[2016-09-22 18:57] TheReal1604 commented on #137
After closing and reopening the app all is fine.. Just for information.

[2016-09-27 18:13] TheReal1604 commented on #137
@geekgonecrazy @engelgabriel @marceloschmidt No one has an idea? :(

(with the comment above i mean, after restarting the app all is fine for some time)

[2016-09-28 11:09] loredanacirstea opened #138 "Facebook Activity Theme - merger failed - add 'tools:replace="android:theme"' to <activity>"
The issue was not present 3-4 days ago when I last tried to do an Android build. Now I get:

[code]

I suppose the issue stems from the facebook plugin, so I opened an issue with them: https://github.com/jeduan/cordova-plugin-facebook4/issues/336 .

I will let you know if a plugin version update is needed.

By the way, the building process that I use is:

[code]

[2016-09-28 14:16] rodrigok commented on #137
@TheReal1604 Strange, I never saw that. Is this still happening?

Is this happening on our demo server too?

[2016-09-28 16:44] TheReal1604 commented on #137
@rodrigok Couldn't test this on demo yet. I could replicate the issue if I use "Edge" or slow and unreliable networks.. Seems that there's an issue in caching or something like that. Some minutes ago I roamed from normal wifi to edge.. and the issue happens.

[2016-10-03 09:17] bharatpatel2005 commented on #138
Hello, @loredanacirstea

Update config.xml,

plugin name="cordova-plugin-facebook4" spec="1.7.0" --> to  --> plugin name="cordova-plugin-facebook4" spec="1.7.4"

[2016-10-04 14:53] anappleapp opened #139 "Error Json Failed"
Hi,
I am trying to use rocket.chat Cordova with phonegap plugin to embedded in swift, when i run the project i get this error:

 Plugin 'NetworkStatus' not found, or is not a CDVPlugin. Check your plugin mapping in config.xml.
2016-10-04 16:50:17.181 newplugSwift[25016:420808] -[CDVCommandQueue executePending] [Line 142] FAILED pluginJSON = ["NetworkStatus320847417","NetworkStatus","getConnectionI

[2016-10-05 07:50] Cikcak opened #140 "Home Page after every start App"
Is it possible to setup iOS App to start with automaticaly login to some room?

[2016-10-05 20:24] herbsmn commented on #104
Hey @inputmice, how do you do notifcations in Conversations without GCM? These guys are interested in doing the same thing, I think.

[2016-10-05 22:16] herbsmn commented on #104
Does this way of doing notifications make sense for Rocket Chat Cordova? https://github.com/siacs/Conversations/blob/082c06a486fe4cdb8870680a33836f40d570d1fd/src/main/java/eu/siacs/conversations/services/NotificationService.java

[2016-10-10 05:00] RichardFoxworthy commented on #110
@xenithorb @TheReal1604 wondering have either of you found a more foolproof way to manage push notifications for the RC Cordova apps? We are finding the existing setup to be very flaky. We've tried using the default RC gateway and also tried using a custom built Cordova app with custom certs and keys. Neither approach works reliably for us so far - we can get push alerts for some messages but not

[2016-10-10 06:25] TheReal1604 commented on #110
@RichardFoxworthy Sry, dont try this push Gateway yet. The push Service from the developers is at the moment enough for my environments.. but in the future i need that also on my enterprise deployment.

[2016-10-10 20:50] lucasvanhalst opened #142 "Clicking on a link inside the application should open it in an external browser"
Now it opens the link inside the application which isn't expected behaviour, and it is incredibly annoying and slow as well.
It should either open links in a chrome custom tab (https://developer.chrome.com/multidevice/android/customtabs) or in an external browser as a quick fix.

[2016-10-10 21:11] rockneverdies55 commented on #142
:100:
I hate when I forgot about this and accidentally click on a link on the mobile...

[2016-10-11 21:31] cpitman opened #143 "Server URL should be trimmed before used/validated"
Many mobile phones will automatically stick a space in after a url (or any other word), which causes the current app to fail. Trimming the url first would reduce another barrier to entry.

[2016-10-12 07:46] loredanacirstea commented on #129
If you by any chance are using a domain name set in your computer's `etc/hosts` file, take a look at: http://borkweb.com/story/setting-etchosts-on-an-android-emulator-using-a-mac

[2016-10-12 09:02] wanharaderta opened #144 "windows"
help me
C:\Users\Ynh\Desktop\Rocket.Chat.Cordova>cordova prepare
'rm' is not recognized as an internal or external command,
operable program or batch file.
Error: Command failed: rm -rf www/shared/js_compiled/*
'rm' is not recognized as an internal or external command,
operable program or batch file.

[2016-10-13 09:17] wanharaderta commented on #144
helpme

:processArmv7DebugManifestC:\Users\Daeng\Desktop\Rocket.Chat.Cordova\platforms\android\AndroidManifest.xml:5:5-51:19 Error:
        tools:replace specified at line:5 for attribute tools:theme, but no new value specified
C:\Users\Daeng\Desktop\Rocket.Chat.Cordova\platforms\android\AndroidManifest.xml Error:
        Validation failed, exiting

See http://g.co/androidstudio/manifest-merger fo

[2016-10-13 13:31] venkat001 commented on #108
I also have same problem.
Could anyone find the solutions. Share it.

[2016-10-13 15:45] rockneverdies55 commented on #1
It's been more than a year since this was created... Nobody to take care of this?

[2016-10-14 10:16] Syirrus commented on #138
Changing cordova-plugin-facebook4 to 1.7.4 still gives the same error. This FB plugin is a pain in the bottom. It's constantly breaking  rocket.chat cordova. Any ideas on how to fix it?

[2016-10-17 19:15] Syirrus commented on #130
I'm having the same issue with cordova on iOS and on Android. It has nothing to do with Meteor.reconnect(); either. I have changed the value to prevent that from having to reconnect after only a minute. Any ideas? The app probably takes 10 seconds to become responsive once you have focus on it from it being in the background. Did you get this fixed @telmich ?

[2016-10-17 19:21] telmich commented on #130
@Syirrus unfortunately not - the biggest pain point with rocket chat is the mobile client at the moment

[2016-10-17 19:28] Syirrus commented on #130
@telmich Yeah this is a big issue. I'm not convinced it is entirely something in Cordova, although things seem to work fine in the browser. Perhaps it's some unnecessary stuff occurring on the server. I don't I'm just guessing out of frustration. Things seemed faster in earlier builds of rocket.chat (server) part.

[2016-10-18 07:34] Syirrus commented on #130
@telmich I might have found some things to speed the app up.
1. Try updating your version of crosswalk to 21+
2. Increase the timeout value for which RC Cordova disconnects when in the background.
3. Update ionic-plugin-keyboard to the latest. (Before updating this I noticed the keyboard would focus and unfocus every time I went into the app. Now the keyboard doesn't do that anymore which might be

[2016-10-18 11:12] TheReal1604 commented on #130
@Syirrus are this server-side settings? Or in the Cordova Mobile App so i have to repackage the app.

[2016-10-18 13:39] Syirrus commented on #130
@TheReal1604 both.
Updating crosswalk to 21+ will be done in Cordova Rocket.Chat in config.xml
Updating ionic-plugin-keyboard should be done in cordova.
Increasing the timeout value for when Cordova clients disconnect needs to happen on the server.

[2016-10-18 15:51] any2names opened #145 "BUILD TARGET Spitter.Chat OF PROJECT Spitter.Chat WITH CONFIGURATION Debug"
Looks like there is a problem building Rocket.Chat.Cordova with xcode8 and swift 3. Need help fixing this.

##### Errors below ####

Check dependencies
“Use Legacy Swift Language Version” (SWIFT_VERSION) is required to be configured correctly for targets which use Swift. Use the [Edit > Convert > To Current Swift Syntax…] menu to choose a Swift version or use the Build Settings editor to configure

[2016-10-18 16:13] geekgonecrazy commented on #129
Also if running in emulator, could be a network issue.  Going to close this since not really a bug, but more of a support thing.

[2016-10-18 16:13] #129 closed

[2016-10-18 16:18] geekgonecrazy commented on #1
I don't think its something that any of us use much :( I think we are missing Camera and Mic permissions

[2016-10-18 19:28] mrplow commented on #1
You guys need to use the Android app more in testing 😜
I've looked through the code and I can't find where Android permissions are set. But I'm clearly not a programmer.

[2016-10-18 19:45] geekgonecrazy commented on #1
@mrplow I use it every single day.  :smile:  I just don't use that feature.  :grin:

I'm not sure either. 😦

[2016-10-19 19:10] mrplow commented on #1
@geekgonecrazy looks like it's enabled in Rocket.Chat.Cordova/config.xml already.
And it is working. I just hadn't allowed the permission (the record option has been turned off for a while on my server so I didn't look)
![screenshot_20161019-120842](https://cloud.githubusercontent.com/assets/1490165/19533513/ef89a00a-95f4-11e6-8557-c487dceb78e6.png)

[2016-10-19 20:50] geekgonecrazy commented on #1
@mrplow I think this is a thing that as of Android marshmallow pops up asking to deny or allow. So if it would have asked, then this probably would have worked

[2016-10-19 23:15] mrplow commented on #1
@geekgonecrazy yup, you're correct.
RC android isn't requesting the permission on the fly in marshmallow. It may work fine in lesser android versions.

These may help
https://developer.android.com/training/permissions/requesting.html
https://github.com/dpa99c/cordova-diagnostic-plugin

[2016-10-20 08:27] naguchennai opened #146 "cordova prepare Error: Command failed: rm -rf www/shared/js_compiled/*"
when i run cordova prepare

Error: Command failed: rm -rf www/shared/js_compiled/*
'rm' is not recognized as an internal or external command,
operable program or batch file.

[2016-10-24 18:17] mikemix commented on #135
Same here. App is terribly slow. My IPhone 4s gets hot as hell as I were playing some CPU intensive game. All I do is try to read room messages which is close to impossible.

[2016-10-26 13:14] anappleapp opened #147 "Issue To run Rocket.chat.cordova in iOS 10"
Hi,
After many hours research, i found out there is a bug to run Rocket.chat.cordova in IOS 10.
It works fine in iOS 9 but in iOS 10 i cant connect with web socket.

Here i found a link https://github.com/AppWorkshop/meteor-ios10-csp-fix how to fix the issue but i am not sure, if it works. can some help :)

[2016-10-26 13:26] TheReal1604 commented on #147
Your reported bug could be the base issue for this:

https://github.com/RocketChat/Rocket.Chat.Cordova/issues/137

[2016-10-27 12:51] RichardFoxworthy opened #148 "Preferences settings"
Preferences settings renders in an artificially narrow viewport, which on mobile can make the interface quite unusable. See screenshot attached
![img_3800](https://cloud.githubusercontent.com/assets/1432373/19767789/2dac2770-9ca0-11e6-98d9-089cc58c697c.PNG)

[2016-10-28 07:27] StevenApple commented on #79
Hi @rodrigok ,

Did you add the plugin webrtc for iOS in project? because mine it doesnt work :(

[2016-10-29 12:27] any2names commented on #145
Any one have this problem of compiling on xcode 8?

[2016-11-01 06:52] TheReal1604 opened #149 "Keyboard hide message actions"
In some circumstances the iOS keyboard hide the actions you can use on a message. This issue is persistent on demo and my deployments with 0.44.0. ![](http://i.imgur.com/BTCteA5.jpg)

[2016-11-03 15:17] cpitman opened #150 "Image uploads corrupted"
We are regularly seeing that images uploaded from the mobile application are corrupted, with most/part of the image being replaced by grey:

![rocketchat](https://cloud.githubusercontent.com/assets/852230/19971959/08a254d8-a1b7-11e6-9854-392a7825f967.png)

[2016-11-05 19:13] TheReal1604 commented on #150
Got this also on my deployments, but only sometimes. At my systems i got sometimes a "Token invalid". That's messing up the picture completely.

[2016-11-05 19:19] TheReal1604 commented on #137
It seems that there is a caching issue. If I upload a image when I have this issue, the message "Token invalid" appears and the image is not uploaded but a message is generated. @rodrigok We really need a fix for this. Or have you any idea what could wrong with my setups? I reinstalled already the rocket chat app on my phone and tested only with one server.

[2016-11-09 03:11] mrplow commented on #78
Dupe of issue #1

[2016-11-09 11:56] g0ldstrike commented on #108
Same here. Reinstalling Android app and emptying cache doesn't help. Also noticed that from the same device, connecting to the server by using the browser works fine. Local or global IP give exact same issues.

When I debug the app in Android Studio, I see these two lines repeating with a different code behind `cb=`:

[code]

Update: I figured out that the problem is located at the server you're t

[2016-11-10 02:41] wandonye commented on #79
downloaded the app from the appstore, videochat and voice chat are not working

[2016-11-10 21:17] maxlinux2000 opened #151 "can't build on android"
Hi all, I have the lastest sdk tools (android-22, 23, 24,25) and my cordova environment works fine with other apps.

[code]
and the build fail  with error

[code]

So I changing the version of facebook4 plugin with:

$ cordova plugin rn cordova-plugin-facebook4
$ cordova plugin add cordova-plugin-facebook4@1.7.4

and updating the config.xml with:
<plugin name="cordova-plugin-facebook4" spec="1.7.4

[2016-11-11 07:07] TheReal1604 commented on #149
Also on 0.45.0

[2016-11-11 11:34] g0ldstrike commented on #151
I'm having the same issue. Haven't succeeded yet to successfully build this project for Android.

I also noticed that when I want to specify Android API 22 for Cordova:
`$ cordova platform add android@5.1.1`
then Cordova targets API 23. If I continue with
`$ cordova build android`
it gives an error
`Please install Android target: "android-23"`

I come one step further when I add android@4.1.1 inst

[2016-11-12 00:06] mlanner commented on #108
Seeing the same issue. I'm running the snap installed version of Rocket.Chat.

[2016-11-12 09:21] maxlinux2000 commented on #125
no, but I will close this bug because it's old and I opened onother one

[2016-11-12 09:21] #125 closed

[2016-11-12 10:52] maxlinux2000 commented on #151
Ok, I solve the problem for the moment

I dropped the crosswalk-webview, upgraded the plugins facebook4 to v. 1.7.4 and googleplus to 5.1.1.
and finally used android@6 (android-25) instead the old 22.

I think that we can drop down the olds smartphones before android 4.4, because they are slow and low in ram memory.

below a simple bash script in order tu test my solution, but better choice is to

[2016-11-12 11:06] maxlinux2000 opened #152 "Drop down crosswalk-webview and the compatibility with android 4.0, 4.1 and 4.2?"
Today I buid rocketchat without crosswalk-webview and the .apk is 3.4MB instead 30MB circa.

I think that we can drop the old smartphone because are slow and with low ram memory.

This old devices represent the 15% circa at today

https://www.statista.com/statistics/271774/share-of-android-platforms-on-mobile-devices-with-android-os/

what do you think?

[2016-11-12 16:28] g0ldstrike commented on #151
Works like a charm! Thanks a lot.

By the way, shouldn't there be one extra line just above the last line? :
`cordova plugin add cordova-plugin-googleplus`

Furthermore I agree that updating the source would be the best solution.

[2016-11-12 16:30] maxlinux2000 commented on #151
you are right! I missed to copy the line about google+. I will edit the previous message, for the others

[2016-11-12 16:41] maxlinux2000 commented on #151
just correct the script. tnx.

Now, I solved another problem. The android apps need to connect with ssl, so we need to use nginx

So if someone need it, here a script that install and configure nginx

[code]

It's possible that nginx doesen't works...so please listen the log at  /var/log/nginx/rocketchat.access.log in order to fix any problems

and finally run the RC server with:

[code]

[2016-11-12 16:47] maxlinux2000 commented on #138
please have a look here: https://github.com/RocketChat/Rocket.Chat.Cordova/issues/151

[2016-11-12 17:00] loredanacirstea commented on #138
Thank you @maxlinux2000 . In the end, using cordova-plugin-facebook4 ver. 1.7.4 solved it for me, so I will close this issue.

I left it open because @Syirrus said that the error persisted even with 1.7.4. If so, maybe opening another issue would be better.

[2016-11-12 17:00] #138 closed

[2016-11-12 17:06] maxlinux2000 commented on #135
I don't have iphone, but I think that the problem is in the crosswalk-webview plugin.
I proposed to drop down this plugin for android.
If you can, please try the same in ios

[2016-11-12 17:10] maxlinux2000 commented on #140
you can try to edit index.html from:

`<input type="url" id="serverAddress" placeholder="https://demo.rocket.chat" />`

to

`<input type="url" id="serverAddress" placeholder="https://demo.rocket.chat"  value="https://YOURDOMAIN/channel/general"/>`

it's possible that it's works....

[2016-11-12 17:12] maxlinux2000 commented on #124
video still no working without crosswalk-webview :-1:

[2016-11-12 18:16] g0ldstrike commented on #108
Solved the problem. This happens when the Site URL is configured incorrectly.

The [docs](https://rocket.chat/docs/installation/manual-installation/ubuntu/) state the following:

When you have not changed the Site URL before, it will be equal to the value you set as ROOT_URL. However, when installing a snap instance (@mlanner), ROOT_VALUE is not configurable and will be http://localhost . Therefor

[2016-11-14 08:49] Cikcak commented on #140
Thank you very much, but I don't know where mentioned index.file is. I complete search through docker app, found many index.html files, but not with `<input type="url" id="serverAddress" placeholder="https://demo.rocket.chat" />` content.

[2016-11-14 09:31] maxlinux2000 commented on #140
ah... I'm not using the docker. Just cordova in my chase.

mmm... other way... you can try with a a javascript redirect like this:

[code]

in Admin/Layout/Content

[2016-11-14 09:41] maxlinux2000 commented on #150
the image upload works fine in 0.45.0.
I have set in admin/File Upload/Storage Type: FileSystem
...and in filesystem Path: /root/files

![z-picture](https://cloud.githubusercontent.com/assets/5683921/20259760/f038d9d2-aa56-11e6-9e64-4cb4c6204c05.png)

[2016-11-14 10:58] Cikcak commented on #140
I had same idea, but unfortunately it make repetitive reloading page.

[2016-11-14 14:46] flaviogrossi commented on #124
see this one https://github.com/RocketChat/Rocket.Chat/pull/4240

It should solve your problem

[2016-11-14 17:57] maxlinux2000 commented on #124
Tnx Flavio, but I need to know how to apply your patch in the code. The I'm using Ubuntu 16.04

[2016-11-15 15:19] sanjinmr commented on #78
I have the same problem.
When my application is running in the 6.0 version of the system, the camera has been shown in black. I have added all the required permissions. How do you solve this problem?

[2016-11-16 09:32] jpVm5jYYRE1VIKL commented on #135
can you tell me how to disable crosswalk-webview plugin ?

[2016-11-16 11:44] maxlinux2000 commented on #135
$ cordova plugin rm cordova-plugin-crosswalk-webview

[2016-11-16 13:25] Sing-Li opened #153 "Improve user experience - optimize version negotiation protocol"
Thanks to some benchmark work by community member @eiorobb   on demo,  it is shown that a large part of the user experienced *delay*  observed repeatedly - everytime the mobile app is started -  may be due to the current way we negotiate the client version.

A large 12 seconds out of the 14 second before the ready-to-enter-message state can be attributed to checking and (actually not downloading)

[2016-11-16 14:39] dmc1961 commented on #132
Great product but no sounds on Android client or Fedora 23/24 desktops. No sounds will be a deal breaker I am thinking but Rocket Chat is excellent to use otherwise.

[2016-11-17 19:33] sampaiodiego commented on #153
Just adding some info.. I think we can change the version check to endpoint `/api/info` instead of `/__cordova/manifest.json`..
- `/api/info` is about 20% faster on reponse time;
- `/api/info` is at least 90% smaller (actually, on demo server it has only 2.8% of the size)

[2016-11-17 19:48] EionRobb commented on #153
I've found that 5 seconds of startup time is wasted waiting for cordova to fire a deviceready event that never fires, possibly due to the file caching code (although that's a bit of a guess, I haven't pinpointed it down to that).

There's about 1-2 seconds of loading in all the cordova plugins via require() which would go faster if all the js were merged into one file.

Generally it seems that loa

[2016-11-20 15:44] TheReal1604 commented on #137
Added Screenshot.... anyone have an idea? ![](http://i.imgur.com/NDSLnBU.jpg) What is causing this?

[2016-11-20 21:36] geekgonecrazy commented on #137
this could be related to: https://github.com/RocketChat/Rocket.Chat/pull/4981

[2016-11-21 08:52] frdmn opened #154 "Improve server URL check when trying to setup a new server"
When you try to add a server URL which has a trailing slash at end, the app responds with:

[code]

If you remove the slash at the end, it works like a charm.

The error message seems a bit misleading here.

[2016-11-29 13:45] drkmccy commented on #132
Microsoft Teams has come out, goodbye RocketChat.

[2016-11-29 18:02] geekgonecrazy commented on #132
@dmc1961 Fedora 23/24 doesn't have sound on the desktop?  Can you open an issue on our electron client?

[2016-11-30 05:08] kevincolten commented on #130
@Syirrus Can you explain where on the server you'd configure the timeout value?

[2016-11-30 20:53] chriswltn commented on #146
Exactly the same issue here. anyone else getting this?

[2016-12-01 12:04] exactt commented on #154
I can confirm this behaviour.

[2016-12-06 23:51] Syirrus commented on #152
@maxlinux2000 I think that makes a lot of since. I just wish the app was a bit faster when resuming from the background.

[2016-12-06 23:55] Syirrus commented on #153
Is there any motion on this for speeding up Rocket chat in it's Cordova form?

[2016-12-09 03:44] 354420603 commented on #78
I  have the same problem,
Who can tell me to solve this problem

[2016-12-09 09:39] boniyustin opened #156 "Can't connect to server. Not enabled for mobile apps"
Trying to connect to server from iOS and Android. and it says "it's not enabled for my apps". Try to search in google and github, and couldn't find any clue.

The server is run on Windows Server 2008 R2.
Rocket.chat version is 0.34, and It runs on nodejs 0.10.40

![rocket-chat](https://cloud.githubusercontent.com/assets/1172366/21044266/b0964068-be2d-11e6-8c2f-69355bd2bc01.jpg)

[2016-12-10 19:43] Nyal101 opened #157 "Running in Xcode"
When I run the code on a iOS emulator through Xcode  it doesn't load but just stays on a blue loading screen.

[2016-12-10 23:20] maxlinux2000 opened #158 "Rocket.chat inside a iframe"
Hi all,

I need to put RC inside an iframe, but when the rc script is loaded, a new index.html replace the mine, invalidating or hiding the iframe.

Inspecting with chrome, look that the page was replaced.

someone have an idea how to solve that?

regards
MaX

[2016-12-12 14:07] BarnumD opened #159 "Disallowed useragent using Google OAuth"
It seems that google has changed their OAuth requirements so that web views no longer work.
http://stackoverflow.com/questions/40591090/403-error-thats-an-error-error-disallowed-useragent
https://developers.googleblog.com/2016/08/modernizing-oauth-interactions-in-native-apps.html

This issue is causing us not to be able to use the rocket.chat app on any IOS devices. We recieve the following after

[2016-12-12 22:11] adirwilliamson commented on #159
We are also seeing this message on iOS devices with Google oAuth. This is a real issue for us as we are only using Google oAuth for Rocket.Chat.

Android app still appears to work.

[2016-12-13 01:21] maxlinux2000 commented on #156
you need to activate the ssl connetion on port 443 using nginx

I sugggest you to use a digitalocean VPS (or similar service) with ubuntu and snap service
https://rocket.chat/docs/installation/manual-installation/ubuntu/snaps/

then activate the ssl with this simple script

[code]

[2016-12-14 03:53] boniyustin commented on #156
Is there any solution for Windows Server, @maxlinux2000?

So, basically the problem is because of the SSL, right?

[2016-12-14 10:34] maxlinux2000 commented on #156
Hi, about windows, I don't know... I'm abandoned this platform on 2000. In my times was running windows NT4 with a lot of problems and entire HD partitions missed and destroyed at reboot :(

About ssl, yes. This is the problem. I think that this is a bug, because in previous versions I'm able to connect over the simple http.
But before open a new bug, we need more testing and confirmations

[2016-12-14 14:32] laggedHero commented on #113
The important point here is what @jlebras found out: the legacy commands (`convert` and etc).

The windows dll installer have an option to support legacy commands, you just need to select it.

@Artgit Did you got it up and running already?

PS.: I'll add to the readme more information about ImageMagick

[2016-12-14 20:27] #113 closed

[2016-12-14 22:27] anappleapp opened #163 "Video doesnt work"
I couldn't find the plugin for webrtc.. Did someone resolve the problem with video?

[2016-12-15 13:54] Syirrus commented on #130
@kevincolten You can update the timeout value in:
/packages/rocketchat-ui/lib/cordova/user-state.js

It helps on Android. However, resuming from the background still pauses a bit.

[2016-12-16 18:10] mohamedhagag commented on #132
what about android ? did we get notification sound working ?

[2016-12-18 16:01] maxlinux2000 opened #165 "Change the UI like or similar to Rocket.chat.android"
I just tried the new Rocket.chat.Android and its interface is much better than we have in Cordova.

I think the two interfaces would have to be the same or almost the same.

![screenshot_20161218-165608](https://cloud.githubusercontent.com/assets/5683921/21294690/0c7aa72c-c543-11e6-9bd5-e7e0b703aee6.png)

![screenshot_20161218-165912](https://cloud.githubusercontent.com/assets/5683921/21294700/7ea

[2016-12-18 17:58] geekgonecrazy commented on #165
The UI of this is driven by the Web app in the main server repo. We don't have a special UI just for this mobile app

[2016-12-19 13:54] engelgabriel commented on #165
We are already working to make them more similar, taking the best of each one, but as @geekgonecrazy said, some components will only be available for native apps.

[2016-12-19 13:54] #165 closed

[2016-12-19 22:36] shellster commented on #132
What's the status on this?  My separate item also was closed, but I'm on the beta channel and audio still isn't working.

[2016-12-19 23:31] mohamedhagag commented on #132
any technical details about this issue ?

[2016-12-20 00:00] dmc1961 commented on #132
Sorry guys - I didn't resolve it so have moved to a different open
source product, so you can close any of my stuff. I never got the sound
to work beyond the first instance on my Fedora Desktop (FC23) or on my
Android Samsung, so no good for me and I needed something quickly.

On 20/12/16 08:36, shellster wrote:

--

=-------------------------------------------------------------------------=
=----

[2016-12-20 00:13] dmc1961 commented on #132
Sorry guys - I have bailed on this one and using something else. Many
thanks.

On 20/12/16 09:31, Mohamed M. Hagag wrote:

--

=-------------------------------------------------------------------------=
=-------------------------------------------------------------------------=
Notice: The NBN is now in place in the area Davrom Consulting is located
in, with a forecast that in April 2017 copper li

[2016-12-20 00:17] shellster commented on #132
Can a Dev reopen this issue?  Sounds like it isn't solved, but all the issues related to it have been closed, which means it isn't being tracked as an active issue/feature request.

[2016-12-20 00:38] geekgonecrazy commented on #132
@shellster this ticket is where it's being tracked and this issue is open :)

[2016-12-20 01:38] dmc1961 commented on #132
Gone to a different open source solution.

On 20/12/16 10:38, Aaron Ogle wrote:

--

=-------------------------------------------------------------------------=
=-------------------------------------------------------------------------=
Notice: The NBN is now in place in the area Davrom Consulting is located
in, with a forecast that in April 2017 copper lines will be phased out.
We will not be kee

[2016-12-20 01:46] geekgonecrazy commented on #132
@dmc1691 that's fine.  You can click unsubscribe so you won't get notified again

[2016-12-20 10:15] boniyustin commented on #156
Hi, @maxlinux2000
Thank you for the replies.

I just find in [Rocket.Chat Guide Docs](https://rocket.chat/docs/installation/manual-installation/windows-server) that

So I think although I added SSL to my website, It won't work, right?

[2016-12-20 11:36] maxlinux2000 commented on #156
:D :D Your culture will adapt to service us. Resistance is futile. Yo must use ubuntu  :D :D

[2016-12-21 20:59] engelgabriel commented on #153
We are looking for contributors here

[2016-12-22 08:08] boniyustin commented on #156
haha
no problem. I manage to make it up and run with docker-toolbox
thanks a lot

[2016-12-22 22:02] Molle500 opened #166 "Add the possibility to zoom in on images"
Would be great if you could fix so images on the phone is possible to zoom-in and out on. It's really frustrating right now if someone sends a image with text on it's literally impossible to read what is on the image.

[2016-12-28 18:50] Syirrus opened #167 "Cannot scroll up in ios Cordova app"
I've installed the latest and greatest.
Basically, the Rocket.Chat loads okay, but when I try to scroll though the chats I notice that I can scroll down, but when I try to scroll up it doesn't work. In order to scroll down I have to scroll up and then immediately scroll down. I've tried with and without Xwalk / cross walk installed. Any ideas?  I'm using iOS engine 4.3.1

[2016-12-28 18:58] brnbs commented on #142
Accidentally opened an issue on other project. Please add an option for selecting an external app which is used for opening the clicked URL instead of displaying inside the app.

[2016-12-29 10:31] bertptrs commented on #142
Any progress on this? The in-app browser is really slow and difficult (impossible? It tends to crash the app for me) to close.

[2016-12-29 17:27] Pross commented on #167
Ive found if im scrolling buy dragging the very far left of the screen it mostly works. Still not brilliant though

[2017-01-02 15:41] lunitic commented on #142
Would love if this got solved.. This is the biggest complain on the app we receives.

Is the solution in the app or is it in the server side?

[2017-01-04 11:57] Mte90 opened #168 "Upload the app also on F-Droid"
We are using RocketChat in an open source community and we have people that don't use Google Play but only F-Droid on Android systems.
So for us is important to have the app also on F-Droid (https://f-droid.org) that is an alternative market of only open source apps for android like this one.
So in few words it is possible to upload the android app also on f-droid?

[2017-01-04 18:07] engelgabriel commented on #168
Can we do that @rodrigok @laggedHero ?

[2017-01-04 18:11] engelgabriel commented on #167
Hi, this is a duplicate of https://github.com/RocketChat/Rocket.Chat/issues/5401 and we are working on it :) Thanks for reporting.

[2017-01-04 18:11] #167 closed

[2017-01-04 23:02] geekgonecrazy commented on #168
This is a dupe.  A lot more conversation regarding that here: #104

[2017-01-05 17:01] reetp commented on #132
This is a killer feature for the mobile app. Users expect a sound notification unless they silence their phone. The app is pretty well useless without this. Seems no status is set so no idea on the priority for it ?

[2017-01-12 12:18] StevenApple commented on #79
Hi @geekgonecrazy,

I Downloaded the plugin successfully but when i run the project it doesnt show the video in video call.
In your project doest it work?

[2017-01-12 12:20] StevenApple commented on #79
Hi @rodrigok ,
Did you try to add the plugin?

[2017-01-12 20:47] svsta opened #169 "Android issues - Samsung Galaxy S3"
Hello,

I have found some issues using the Android app with the Rocket.Chat Cloud at phone Samsung Galaxy S3

1. When I try to use a video chat the app tells that there is no access to camera and microphone. Lists of available devices are empty.

2. The app doesn't work properly in background. I do not see info about new messages that is important for any user.

3. I have not coped with establishi

[2017-01-12 22:44] svsta commented on #169
Screenshoot for point 4.
https://yadi.sk/i/9Zjvk9La38gnPe

[2017-01-17 15:27] ghost commented on #132
Why is no one looking at this?  Not having audible notifications is a killer bug.  Is there a workaround that we're missing?

[2017-01-23 17:03] #132 closed

[2017-01-25 10:56] Mte90 opened #170 "Issues on loading"
On my Oneplus one, for the loading (the first open of the app) can require like over 10 seconds.
Other people that use our installation has issues on loading of the app that on mobile app it's impossible to use while using the browser of the phone there are no issues.

[2017-01-25 23:01] kirotawa commented on #44
I update my node, my npm, remove cordova , reinstall latest , install all this:
sudo npm install -g bplist-parser
sudo npm install -g minimatch
sudo npm install -g inherits
sudo npm install -g path-is-absolute
sudo npm install -g inflight
sudo npm install -g once

So, I just type a workaround here because my s link was point to some mess installation, and just change it to 'the right' installation

[2017-01-26 23:47] Sravanik84 commented on #159
Any solution for this issue found? My app is blocked with this issue.

[2017-01-27 10:48] felixkm commented on #159
We've just released a blog post how to solve that issue on Android and iOS. Maybe it helps. [https://cloudrail.com/solving-disallowed_useragent-for-google-services/](https://cloudrail.com/solving-disallowed_useragent-for-google-services/)

[2017-01-27 17:59] IsraelSistemas commented on #159
@Sravanik84 you can override the user agent in config.xml

Just add this to your config.xml, worked for me.

`<preference name="OverrideUserAgent" value"Mozilla/5.0 Google" />`

[2017-01-27 18:22] BarnumD commented on #159
Thanks for that workaround @felixkm.  I would like to see this solved by RocketChat though.

[2017-01-28 12:03] dbanet commented on #108
My `ROOT_URL` **is** set correctly and Internet accessible, however I still have the problem.

Yyyup, as per @g0ldstrike, you *also* need to set it correctly in the Administration UI. Am too blind for this shit, sorry.

[2017-01-30 14:33] AntMarq opened #171 "iOS 10 : App crash (Display view by a long press on a message)"
Hi,

I am testing your open source solution since November 2016.
For the cordova iOS version 2.4, I easily reproduce a crash on iphone 6 and iOS 10 with long press when I want to access the functionality of editing / deleting a message etc ...

How can I fix this native problem for iOS 10 ?

Thanks for your help

The Xcode log :

![capture d ecran 2017-01-27 a 16 31 15](https://cloud.githubusercon

[2017-01-30 15:54] TheReal1604 commented on #149
Fixed by a new release. awesome! Tested on: 0.50.1

[2017-01-30 15:54] #149 closed

[2017-01-31 01:19] dmkjr opened #172 "Application Error"
I'm not quite sure what an appropriate title would be for this.

On a LG V20, I'll close out of the application (RocketChat), but remained signed in.  Will open application after quite some time and will have to wait a minute at the "login" screen before it brings me back into the application.  It appears as if I'm not logged in, but I am.  Any ideas?

[2017-01-31 21:13] #166 closed

[2017-02-01 19:13] rafaelmr2 opened #173 "error downloading files"
Hi,

When I try to connect my server I got the error "Error downloading files, please try again later". I use Android 4.4. Other person tested on Android 6 and 7 and there's no problem.

Thanks,

[2017-02-07 05:37] himojutsu commented on #132
I'm excited if this change did fix the notification sound issue.  When will the Android and IOS stores get updated?  Has a new version been submitted and just waiting for approval?

[2017-02-07 13:56] graywolf336 commented on #132
@himojutsu that change was on the Rocket.Chat server and doesn't require an update to the applications but only your server.

[2017-02-07 14:18] himojutsu commented on #132
Sure enough.  I guess I didn't look closely at what file was changed.  Fantastic!  Thanks, guys.

[2017-02-09 07:19] migscabral commented on #151
I followed the script posted by @maxlinux2000 but I still encounter the same problem.

[code]

Here's my updated `config.xml`

[code]

Here's the generated `AndroidManifest.xml`:

[code]

Am I missing anything?

[2017-02-09 07:55] migscabral opened #174 "Android build fails: Manifest merger failed : Attribute activity#com.facebook.FacebookActivity@theme value=(@android:style/Theme.Translucent.NoTitleBar)"
I followed the solutions as instructed in #151 and #138, but still I get the same error:

[code]

Am I missing anything?

Here's my updated `config.xml`:

[code]

Here's the generated `AndroidManifest.xml`:

[code]

[2017-02-13 11:38] marcusgrando commented on #159
+1

[2017-02-15 05:45] RichardFoxworthy commented on #38
@russcalderon is this still an issue for you with the count on the app badge not resetting?

[2017-02-15 16:00] victorwww opened #175 "Layout goes up and escapes viewport"
When you open the app or After file upload in a message room, the layout goes up, to outside of viewport. Because of that, it shows a small part of the background on the bottom. And also hides a small part of the top bar. This hidden part of the top bar disrupts the use of the buttons, especially the context menu, on the right.

![unnamed](https://cloud.githubusercontent.com/assets/1306502/2298259

[2017-02-20 17:36] wathmal commented on #170
For me, it waits on loading screen more than 30 seconds. This is really too much time.

[2017-02-22 00:01] flayks commented on #173
Same here, but android 7, the web version work perfectly but the app is returning the same error..

[2017-02-24 20:00] amenk opened #176 "Jitsi does not open"
1. Create or join a vide call
2. You get a screen saying you should install Jitsi Meetup
3. Link to install is not working (invalid protocol)
4. Link to join the session is not working (invalid protocol)

[2017-02-24 21:03] amenk commented on #176
Actually it seems to be an issue with the jitsi app ...

[2017-02-24 22:54] amenk commented on #69
Android ID can be found like this: http://android.stackexchange.com/a/35660/24479

[2017-02-25 09:52] amenk commented on #176
I think actually it should use open-new-window for all cases when running on cordova - how do I properly detect that?

[2017-02-26 20:52] Morgy93 opened #177 "Connection to server can't be established?"
Hello,

I'm currently trying to get this to work on windows.
Looks good so far, until I try to connect to some server.
It always just says "Checking connection to server" (or something like that) and puts me back to the start page.

JavaScript console:

[code]

Any clue on this?

[2017-02-27 08:46] juanrhino commented on #159
+1 Are we gonna have a version with that change? In our company we only use Gmail with OAUTH, and is really annoying to use the Web Version in your phone.

[2017-03-01 07:04] nicolas59 commented on #108
I use rocket chat with the url https://my domain>/rocket. Is the mobile application can support an url which is not the root path ?

[2017-03-03 10:25] Sing-Li commented on #176
Try code similar to :

https://github.com/RocketChat/Rocket.Chat/blob/74d1fd00ac4db0d80b6f15ee0dd2ae684b4c3aa6/packages/rocketchat-ui/lib/cordova/keyboard-fix.coffee#L1

[2017-03-06 19:56] amenk commented on #176
seems to be fixed in https://github.com/RocketChat/Rocket.Chat/commit/69c607152b32ca4beb7e407666a1e5ee5aabdd13

[2017-03-06 20:11] laggedHero opened #178 "Warning "File exceedes allowed size" does not go away"
Your Rocket.Chat.Android version: 2.5.0

If uploading a file > 2 MB I get the warning "File exceedes allowed size", which is okay, because this is my actual limit. But the warning does not go away and is shown forever.

---
Ah, sorry. I didn't see "close". I had to rotate the screen to landscape ;)

[2017-03-08 21:15] napcat commented on #159
@IsraelSistemas Thank for that suggestion.

The error disappeared. =) I also have the Facebook oauth integration in my app, but the facebook oauth page now does not load the mobile version. It loads the webpage.

Any suggestion?

EDIT
With the @IsraelSistemas suggestion, the page loads, the credentials are used, but on the last step it does not return the token. =(

[2017-03-14 06:59] rajitgarg2 opened #179 "Getting Syntax errors while IPhone built of Rocket chat project using xcode"
Hello,

I am using Rocket Chat project and trying to build its Iphone app on my mac mini version 10.11.5 (15F34) with Xcode Version 7.3.1 (7D1014), but my build is failing and giving me Syntax errors. I have attached the screenshots as below:-

https://cloud.githubusercontent.com/assets/19546825/23792030/56f37d80-05ab-11e7-8b28-1673422c5190.png

https://cloud.githubusercontent.com/assets/19546825/

[2017-03-15 08:02] mohsinking2 opened #180 "issue on share post with facebook and google in webview"

[2017-03-15 08:05] mohsinking2 commented on #159
Facebook and twitter providing there services to app also.

[2017-03-16 16:45] narlei commented on #175
Same problem here
![img_1631](https://cloud.githubusercontent.com/assets/8092922/24007865/a464e70a-0a4e-11e7-9dbb-87dc7ada9bd0.PNG)

After sending an attachment.

[2017-03-16 22:03] brynn-macpherson commented on #159
Any progress on this issue? I'm in the process of working on a deployment for switching my entire studio from Slack to RocketChat and this is a blocker from us proceeding.

Found a workaround temporarily. If you have oauth authentication working already, you can add a password to the user and then login using those credentials rather than oauth. So the bulk of the users can simply use oauth, but o

[2017-03-17 04:42] TamilRaja commented on #159
Same issues coming from google calendar api. what will do? Can you pls tell suggestion. I have used swift3

[2017-03-17 21:02] KirbySSmith opened #181 "Auto-update hangs after update"
Rocket.Chat.Cordova version: 2.4
Rocket.Chat server version: 48.2

Auto-update hangs after update.

Steps to reproduce:
1. Install mobile app.
2. Point to your RocketChat server and connect
3. Make changes to the server that will force a new version, like changing custom CSS or deploying a new version.
4. Click update when app update notification modal shows.
5. Repeat step 3 and 4 until app hangs

[2017-03-22 12:05] rajitgarg2 commented on #92
Hi,

I am facing the same problem, have you got any solution for this.

I am using meteor galaxy and mLab.

I also want to understand the terms used here?

https://github.com/RocketChat/Rocket.Chat.Cordova#create-conf-files

Thanks a lot for your help!

[2017-03-31 16:33] ToeiRei commented on #173
confirmed on 7.0 on a 1+3

[2017-04-12 01:39] rawwerks opened #183 "[sandstorm] notifications not working"
i guess i originally had this issue in the wrong repo...here we go:

we finally got rocket chat working on mobile with sandstorm, but the only problem is that the notifications are not working for anyone on our team.

- Your Rocket.Chat app version: 2.5.0
- Your Rocket.Chat server version: 0.52.0
- Device (or Simulator) you're running with: iOS 10.2.1

server logs have a whole lot of this:  app.js

[2017-04-12 23:59] geekgonecrazy commented on #183
@rawwerks so this is a limitation of sandstorm.  From my understanding all communications have to go through sandstorm. Its part of the whole security and isolation model.  So any outbound connection like this and url previews do not currently work on sandstorm.

[2017-04-13 00:03] rawwerks commented on #183
@kentonv?

[2017-04-13 15:26] zookozcash commented on #142
Me too. This is the the worst problem I have with the mobile app right now.

[2017-04-13 16:07] rawwerks commented on #183
@geekgonecrazy - i don't think it is a fundamental limitation of sandstorm, because browser and desktop notifications work just fine for us. it is just the mobile app we're having trouble with pushing notifications.

[2017-04-13 16:41] geekgonecrazy commented on #183
@rawwerks mobile notifications and desktop notifications work much, much differently.

Desktop notifications are delivered to you via a websocket.  Then once in the browser the browser fires the desktop notification.

The connection to the server is blessed by sandstorm to you as the client.

Mobile notifications happen server side.  They open a brand-new connection to gateway.rocket.chat which th

[2017-04-14 16:26] kentonv commented on #183
Yeah, push notifications don't work at all in Sandstorm at present since the app won't have permission to talk to gateway.rocket.chat. One of the following needs to happen:

* Rocket.Chat could make a powerbox request to get permission to talk to gateway.rocket.chat. https://docs.sandstorm.io/en/latest/developing/powerbox/ (Those docs currently talk about app-to-app connections, but the same kind

[2017-04-15 17:51] geekgonecrazy commented on #183
@kentonv thanks for taking the time to reply.  Seems like the first option is probably the easiest. Albeit not the most secure.  But in this case push notifications leave the confines of the box either way.

We'll take a look at that option. Looks like it'll potentially require some refactoring in the push notification logic. But shouldn't be too difficult.

[2017-04-17 19:57] rawwerks commented on #183
@geekgonecrazy - we would greatly appreciate if you could look into the 1st option...it would make a huge difference to my team (and i imagine many others)

[2017-04-20 19:59] igorstajic opened #184 "Slow loading time on Android N (7.1.1)"
After updating my phone to Android Nougat (7.1.1) the initial loading of the app is taking about 1 - 2 minutes longer then usual. I've tried reinstalling, but it remains the same. Its happening on multiple devices, but not on older Android versions.

Anyone else experiencing similar issues with Android N ?

[2017-04-25 20:08] S0U1SB4N3 commented on #26
where can I get a working copy of the latest Cordova ios app the GitHub files crash

[2017-04-25 22:21] geekgonecrazy commented on #26
The latest copy of the `Rocket.Chat` app is here: https://github.com/RocketChat/Rocket.Chat.Cordova
The latest copy of the `Rocket.Chat+` app is here: https://github.com/RocketChat/Rocket.Chat.IOS

[2017-05-10 16:30] #181 closed

[2017-05-12 18:20] adam-kulagowski commented on #159
Same here - currently it's impossible to log in with Google Oauth. This makes this app useless also for android devices.

[2017-05-16 09:31] JohnDorien1 opened #185 "Android App not working when RocketChat in SubDir"
Having RocketChat Installed behind a nginx proxy in a SubDir, e.g. /chat/ (important, closing "/") the app is stuck in "trying to connect" forever. It will connect first and download resources but then no further connection can be made, assuming it won't connect https://server/chat/api/info whilst connecting the api via browser works just fine.

[2017-05-16 09:38] frdmn commented on #185
Can confirm, even compiled `Rocket.Chat.Cordova` from master to make sure we try the latest code - no change:

![bildschirmfoto-2017-05-16-um-11 36](https://cloud.githubusercontent.com/assets/944459/26099792/234a93a0-3a2c-11e7-9940-97f5e41f5eee.png)

Seems related to the subdir - maybe somewhere [in here](https://github.com/RocketChat/Rocket.Chat.Cordova/blob/develop/www/coffee/index.coffee#L106-L

[2017-05-17 15:15] martinvonwittich opened #186 "GIFV videos crash the app on iOS"
[there's no default text with the usual questions here... I just copied the one from Rocket.Chat iOS.]

- Your Rocket.Chat app version: [the app doesn't say, but according to the App Store I have all updates installed, and the App Store says version 2.5.0, from 2017-01-03]
- Your Rocket.Chat server version: 0.55.0-rc.6
- Device (or Simulator) you're running with: iPhone 6s (model MKQP2ZD/A), iOS 1

[2017-05-20 10:59] henry-luo commented on #146
This is probably just a problem for Windows user.
You can use [rimraf](https://github.com/isaacs/rimraf) as suggested in this [discussion](https://github.com/meanjs/generator-meanjs/issues/121).
`npm install rimraf`

And you'll then need to manually edit two files under `hooks ` directory, `beforePrepare.js` and `downloadCache.js`. Change occurance of `rm -rf` to `rimraf`. This error should then g

[2017-05-22 12:05] quarkycode commented on #173
This error still exists. I have issues getting users to connect via android. Its stuck at downloading 5/117 and then reports "Error downloading files, please try again later". The android device I'm testing on is Motorola Moto G5 Plus. Rocket chat running with SSL on ubuntu...

[2017-05-24 19:34] jhodapp commented on #140
I'd really like to see this issue resolved as it's the most annoying thing about Rocket Chat's iOS client for me.

[2017-06-01 21:44] apoikola commented on #108
I had a similar problem:

-> Installed the Rocket Chat Andoid App from Google Play
-> Inserted possibly wrong server URL on first time
-> get "301 moved permanently nginx/1.10.2" white page
-> with back button I can see a 0.2 second glimpse of the set server url page, and then the app tries to connect again and to same wrong url automatically
-> Uninstall the app, clear cache
-> problem remains...

[2017-06-02 14:49] mddvul22 commented on #104
@geekgonecrazy earlier in this thread, you mention that Rocket Chat posts the apk with each release.  Where are those apks available for download?  I see https://github.com/RocketChat/Rocket.Chat.Cordova/releases but that doesn't seem to be current anymore.  Looks like the latest release is 2.5.0 but that page shows 2.4.0.

[2017-06-02 19:31] geekgonecrazy commented on #108
In the future if you do a two finger swipe up you can add or delete servers.  But yes we should probably follow a redirect.

[2017-06-03 08:45] feyzilim commented on #159
@IsraelSistemas thank's this realy working.

[2017-06-03 22:33] mscfadmin opened #187 "Pixel XL - Google account login causes error"
Your Rocket.Chat.Android version: 2.5

After opening the app and using the Google button I can select my account I want to use (which I use on the desktop version as well). Then there appears to be some error in the top portion of the screen. You can see a red box with what appears to be an exclamation point, but no further info.

Screenshot of the error after selecting the account:

![screenshot_

[2017-06-03 23:42] geekgonecrazy commented on #168
Closing in favor of: #104 lets keep this consolidated

[2017-06-03 23:42] #168 closed

[2017-06-04 00:03] geekgonecrazy commented on #104
It appears when a release was released to play store a version wasn't tagged here.

@RocketChat/core can who ever tagged a release push the tag here?  I can upload the apk, just not sure what commit should be tagged.

[2017-06-05 13:16] flaviogrossi commented on #142
these two changes seems to fix the issue for me: [one](https://github.com/VoiSmart/Rocket.Chat/commit/3896ff33bf6e2a457b735af7e55fb0dd67e7bf13) and [two](https://github.com/VoiSmart/Rocket.Chat/commit/0bdee2689871a2638ccacd7268f54c5d768b0220).

[2017-06-06 14:10] just4give commented on #159
@IsraelSistemas your fix really worked for google login but introduced some other issues. As @napcat mentioned, facebook login page does not load mobile view. Also I have admob ads which does not get any ad data after this change.

[2017-06-06 15:59] geekgonecrazy commented on #187
So there are no issues when trying to sign in on the web via google?

Also can you clear application data and try again.  This will some times clear things up a bit.

[2017-06-06 16:00] geekgonecrazy commented on #187
Ah... might also be related to #159

[2017-06-06 23:12] isaac2lord commented on #159
How should we work around this issue on iPhone? Given that this is the only ios device I have

[2017-06-08 18:12] geekgonecrazy commented on #142
@flaviogrossi would you be willing to open a PR with these changes?

[2017-06-09 09:28] flaviogrossi commented on #142
@geekgonecrazy PR sent, please let me know if you find any issue with the code

[2017-06-11 17:16] ml48603 commented on #132
As of Rocket.Chat server version 0.56 the audible android notification on channel message does not work. Android 6.0 on S4 Phone. Current date of this post is June 11, 2017

Name               Version  Rev   Developer   Notes
core               16-2     1689  canonical   -
rocketchat-server  0.56.0   653   rocketchat  -

Snappy on Ubuntu 16.04.2 LTS Server

Any idea why the mentioned fix to server

[2017-06-20 12:54] Snom opened #188 "CorHttpd plugin not available/ready"
Hi,

I got a problem when i want to build Rocket.Chat.Cordova for android with my own API Keys for push notifications. Its all good untill i start the app in my emulator and add my server. It is downloading all files and want to load com.myserver.com. Then in the chrome://inspect i can see "CorHttpd plugin is not ready".
Can you guys please help me out here ?

Thanks in advance.

See screenshots f

[2017-06-21 13:45] TwizzyDizzy opened #189 "nodejs-dependency: 0.12? Not supported anymore..."
According to https://github.com/nodejs/LTS#lts-schedule1 nodejs 0.12 is not supported anymore.

I think the dependency should be upgraded.

Cheers
Thomas